.NET/SoftProgWeb/SoftProgWeb/Connected Services/CarritoComprasWS/CarritoComprasWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarCarritoCompras" type="tns:actualizarCarritoCompras" />
  <xs:element name="actualizarCarritoComprasResponse" type="tns:actualizarCarritoComprasResponse" />
  <xs:element name="eliminarCarritoCompras" type="tns:eliminarCarritoCompras" />
  <xs:element name="eliminarCarritoComprasResponse" type="tns:eliminarCarritoComprasResponse" />
  <xs:element name="insertarCarritoCompras" type="tns:insertarCarritoCompras" />
  <xs:element name="insertarCarritoComprasResponse" type="tns:insertarCarritoComprasResponse" />
  <xs:element name="listarTodosCarritoCompras" type="tns:listarTodosCarritoCompras" />
  <xs:element name="listarTodosCarritoComprasResponse" type="tns:listarTodosCarritoComprasResponse" />
  <xs:element name="obtenerCarritoCompras" type="tns:obtenerCarritoCompras" />
  <xs:element name="obtenerCarritoComprasPorCliente" type="tns:obtenerCarritoComprasPorCliente" />
  <xs:element name="obtenerCarritoComprasPorClienteResponse" type="tns:obtenerCarritoComprasPorClienteResponse" />
  <xs:element name="obtenerCarritoComprasResponse" type="tns:obtenerCarritoComprasResponse" />
  <xs:complexType name="eliminarCarritoCompras">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCarritoComprasResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="actualizarCarritoCompras">
    <xs:sequence>
      <xs:element minOccurs="0" name="carritoCompras" type="tns:carritoCompras" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carritoCompras">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
          <xs:element minOccurs="0" name="estado" type="tns:estadoCarrito" />
          <xs:element minOccurs="0" name="estadoString" type="xs:string" />
          <xs:element name="totalConDescuento" type="xs:double" />
          <xs:element name="totalParcial" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registro">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoriaCliente" />
          <xs:element minOccurs="0" name="categoriaCliente" type="xs:string" />
          <xs:element name="lineaCredito" type="xs:double" />
          <xs:element name="numeroPedidosHistorico" type="xs:int" />
          <xs:element name="numeroPedidosMensualPro" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
          <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
          <xs:element minOccurs="0" name="dni" type="xs:string" />
          <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="genero" type="tns:genero" />
          <xs:element minOccurs="0" name="generoString" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="telefono" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="actualizarCarritoComprasResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerCarritoComprasPorCliente">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCarritoComprasPorClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:carritoCompras" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCarritoCompras">
    <xs:sequence>
      <xs:element minOccurs="0" name="carritoCompras" type="tns:carritoCompras" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCarritoComprasResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosCarritoCompras">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosCarritoComprasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carritoCompras" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCarritoCompras">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCarritoComprasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:carritoCompras" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="categoriaCliente">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISTRIBUIDOR" />
      <xs:enumeration value="REVENDEDOR" />
      <xs:enumeration value="RESTAURANTE" />
      <xs:enumeration value="HOTEL" />
      <xs:enumeration value="CATERING" />
      <xs:enumeration value="GOBIERNO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HOMBRE" />
      <xs:enumeration value="MUJER" />
      <xs:enumeration value="NO_ESPECIFICADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoCarrito">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VACIO" />
      <xs:enumeration value="EN_PROCESO" />
      <xs:enumeration value="EN_REVISION" />
      <xs:enumeration value="CONFIRMADO" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="EXPIRADO" />
      <xs:enumeration value="COMPLETADO" />
      <xs:enumeration value="PENDIENTE" />
      <xs:enumeration value="PROCESADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>