Laboratorio 12/.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/AdministradorSistemaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarAdministradorPorId" type="tns:actualizarAdministradorPorId" />
  <xs:element name="actualizarAdministradorPorIdResponse" type="tns:actualizarAdministradorPorIdResponse" />
  <xs:element name="eliminarAdministradorPorId" type="tns:eliminarAdministradorPorId" />
  <xs:element name="eliminarAdministradorPorIdResponse" type="tns:eliminarAdministradorPorIdResponse" />
  <xs:element name="insertarAdministrador" type="tns:insertarAdministrador" />
  <xs:element name="insertarAdministradorResponse" type="tns:insertarAdministradorResponse" />
  <xs:element name="listarTodosAdminstradores" type="tns:listarTodosAdminstradores" />
  <xs:element name="listarTodosAdminstradoresResponse" type="tns:listarTodosAdminstradoresResponse" />
  <xs:element name="obtenerAdministradorPorId" type="tns:obtenerAdministradorPorId" />
  <xs:element name="obtenerAdministradorPorIdResponse" type="tns:obtenerAdministradorPorIdResponse" />
  <xs:complexType name="obtenerAdministradorPorId">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerAdministradorPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:administradorSistema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="administradorSistema">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="cargo" type="tns:cargo" />
          <xs:element minOccurs="0" name="cargoString" type="xs:string" />
          <xs:element minOccurs="0" name="rango" type="tns:jerarquia" />
          <xs:element minOccurs="0" name="rangoString" type="xs:string" />
          <xs:element name="sueldo" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
          <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
          <xs:element minOccurs="0" name="dni" type="xs:string" />
          <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="genero" type="tns:genero" />
          <xs:element minOccurs="0" name="generoString" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="telefono" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registro">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAdministradorPorId">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAdministradorPorIdResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="insertarAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="administradorsistema" type="tns:administradorSistema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAdministradorResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosAdminstradores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosAdminstradoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:administradorSistema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarAdministradorPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="admistradorsistema" type="tns:administradorSistema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarAdministradorPorIdResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="cargo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRADOR" />
      <xs:enumeration value="GESTOR_PRODUCTOS" />
      <xs:enumeration value="GESTOR_PEDIDOS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="jerarquia">
    <xs:restriction base="xs:string">
      <xs:enumeration value="COMPLETO" />
      <xs:enumeration value="PARCIAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HOMBRE" />
      <xs:enumeration value="MUJER" />
      <xs:enumeration value="NO_ESPECIFICADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>