Laboratorio 12/.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/LineaComprobantePagoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LineaComprobantePagoWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/LineaComprobantePagoWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="actualizarLineaComprobantePago">
    <part name="parameters" element="tns:actualizarLineaComprobantePago" />
  </message>
  <message name="actualizarLineaComprobantePagoResponse">
    <part name="parameters" element="tns:actualizarLineaComprobantePagoResponse" />
  </message>
  <message name="obtenerLineaComprobantePago">
    <part name="parameters" element="tns:obtenerLineaComprobantePago" />
  </message>
  <message name="obtenerLineaComprobantePagoResponse">
    <part name="parameters" element="tns:obtenerLineaComprobantePagoResponse" />
  </message>
  <message name="eliminarLineaComprobantePago">
    <part name="parameters" element="tns:eliminarLineaComprobantePago" />
  </message>
  <message name="eliminarLineaComprobantePagoResponse">
    <part name="parameters" element="tns:eliminarLineaComprobantePagoResponse" />
  </message>
  <message name="insertarLineaComprobantePago">
    <part name="parameters" element="tns:insertarLineaComprobantePago" />
  </message>
  <message name="insertarLineaComprobantePagoResponse">
    <part name="parameters" element="tns:insertarLineaComprobantePagoResponse" />
  </message>
  <message name="listarLineaComprobantePago">
    <part name="parameters" element="tns:listarLineaComprobantePago" />
  </message>
  <message name="listarLineaComprobantePagoResponse">
    <part name="parameters" element="tns:listarLineaComprobantePagoResponse" />
  </message>
  <portType name="LineaComprobantePagoWS">
    <operation name="actualizarLineaComprobantePago">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaComprobantePagoWS/actualizarLineaComprobantePagoRequest" message="tns:actualizarLineaComprobantePago" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaComprobantePagoWS/actualizarLineaComprobantePagoResponse" message="tns:actualizarLineaComprobantePagoResponse" />
    </operation>
    <operation name="obtenerLineaComprobantePago">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaComprobantePagoWS/obtenerLineaComprobantePagoRequest" message="tns:obtenerLineaComprobantePago" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaComprobantePagoWS/obtenerLineaComprobantePagoResponse" message="tns:obtenerLineaComprobantePagoResponse" />
    </operation>
    <operation name="eliminarLineaComprobantePago">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaComprobantePagoWS/eliminarLineaComprobantePagoRequest" message="tns:eliminarLineaComprobantePago" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaComprobantePagoWS/eliminarLineaComprobantePagoResponse" message="tns:eliminarLineaComprobantePagoResponse" />
    </operation>
    <operation name="insertarLineaComprobantePago">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaComprobantePagoWS/insertarLineaComprobantePagoRequest" message="tns:insertarLineaComprobantePago" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaComprobantePagoWS/insertarLineaComprobantePagoResponse" message="tns:insertarLineaComprobantePagoResponse" />
    </operation>
    <operation name="listarLineaComprobantePago">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaComprobantePagoWS/listarLineaComprobantePagoRequest" message="tns:listarLineaComprobantePago" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaComprobantePagoWS/listarLineaComprobantePagoResponse" message="tns:listarLineaComprobantePagoResponse" />
    </operation>
  </portType>
  <binding name="LineaComprobantePagoWSPortBinding" type="tns:LineaComprobantePagoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarLineaComprobantePago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerLineaComprobantePago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLineaComprobantePago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarLineaComprobantePago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarLineaComprobantePago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LineaComprobantePagoWS">
    <port name="LineaComprobantePagoWSPort" binding="tns:LineaComprobantePagoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/LineaComprobantePagoWS" />
    </port>
  </service>
</definitions>