.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/AdministradorSistemaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AdministradorSistemaWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/AdministradorSistemaWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarAdministrador">
    <part name="parameters" element="tns:insertarAdministrador" />
  </message>
  <message name="insertarAdministradorResponse">
    <part name="parameters" element="tns:insertarAdministradorResponse" />
  </message>
  <message name="JsonProcessingException">
    <part name="fault" element="tns:JsonProcessingException" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException" />
  </message>
  <message name="listarTodosAdminstradores">
    <part name="parameters" element="tns:listarTodosAdminstradores" />
  </message>
  <message name="listarTodosAdminstradoresResponse">
    <part name="parameters" element="tns:listarTodosAdminstradoresResponse" />
  </message>
  <message name="actualizarAdministradorPorId">
    <part name="parameters" element="tns:actualizarAdministradorPorId" />
  </message>
  <message name="actualizarAdministradorPorIdResponse">
    <part name="parameters" element="tns:actualizarAdministradorPorIdResponse" />
  </message>
  <message name="eliminarAdministradorPorId">
    <part name="parameters" element="tns:eliminarAdministradorPorId" />
  </message>
  <message name="eliminarAdministradorPorIdResponse">
    <part name="parameters" element="tns:eliminarAdministradorPorIdResponse" />
  </message>
  <message name="obtenerAdministradorPorId">
    <part name="parameters" element="tns:obtenerAdministradorPorId" />
  </message>
  <message name="obtenerAdministradorPorIdResponse">
    <part name="parameters" element="tns:obtenerAdministradorPorIdResponse" />
  </message>
  <portType name="AdministradorSistemaWS">
    <operation name="insertarAdministrador">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/insertarAdministradorRequest" message="tns:insertarAdministrador" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/insertarAdministradorResponse" message="tns:insertarAdministradorResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/insertarAdministrador/Fault/JsonProcessingException" name="JsonProcessingException" message="tns:JsonProcessingException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/insertarAdministrador/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/insertarAdministrador/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarTodosAdminstradores">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/listarTodosAdminstradoresRequest" message="tns:listarTodosAdminstradores" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/listarTodosAdminstradoresResponse" message="tns:listarTodosAdminstradoresResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/listarTodosAdminstradores/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/listarTodosAdminstradores/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="actualizarAdministradorPorId">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/actualizarAdministradorPorIdRequest" message="tns:actualizarAdministradorPorId" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/actualizarAdministradorPorIdResponse" message="tns:actualizarAdministradorPorIdResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/actualizarAdministradorPorId/Fault/JsonProcessingException" name="JsonProcessingException" message="tns:JsonProcessingException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/actualizarAdministradorPorId/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/actualizarAdministradorPorId/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="eliminarAdministradorPorId">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/eliminarAdministradorPorIdRequest" message="tns:eliminarAdministradorPorId" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/eliminarAdministradorPorIdResponse" message="tns:eliminarAdministradorPorIdResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/eliminarAdministradorPorId/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/eliminarAdministradorPorId/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerAdministradorPorId">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/obtenerAdministradorPorIdRequest" message="tns:obtenerAdministradorPorId" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/obtenerAdministradorPorIdResponse" message="tns:obtenerAdministradorPorIdResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/obtenerAdministradorPorId/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/AdministradorSistemaWS/obtenerAdministradorPorId/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
  </portType>
  <binding name="AdministradorSistemaWSPortBinding" type="tns:AdministradorSistemaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarAdministrador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JsonProcessingException">
        <soap:fault use="literal" name="JsonProcessingException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarTodosAdminstradores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="actualizarAdministradorPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JsonProcessingException">
        <soap:fault use="literal" name="JsonProcessingException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarAdministradorPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerAdministradorPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="AdministradorSistemaWS">
    <port name="AdministradorSistemaWSPort" binding="tns:AdministradorSistemaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/AdministradorSistemaWS" />
    </port>
  </service>
</definitions>