.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/CarritoComprasWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarCarritoCompras" type="tns:actualizarCarritoCompras" />
  <xs:element name="actualizarCarritoComprasResponse" type="tns:actualizarCarritoComprasResponse" />
  <xs:element name="eliminarCarritoCompras" type="tns:eliminarCarritoCompras" />
  <xs:element name="eliminarCarritoComprasResponse" type="tns:eliminarCarritoComprasResponse" />
  <xs:element name="insertarCarritoCompras" type="tns:insertarCarritoCompras" />
  <xs:element name="insertarCarritoComprasResponse" type="tns:insertarCarritoComprasResponse" />
  <xs:element name="listarLineaCarritoPorIdCarrito" type="tns:listarLineaCarritoPorIdCarrito" />
  <xs:element name="listarLineaCarritoPorIdCarritoResponse" type="tns:listarLineaCarritoPorIdCarritoResponse" />
  <xs:element name="listarTodosCarritoCompras" type="tns:listarTodosCarritoCompras" />
  <xs:element name="listarTodosCarritoComprasResponse" type="tns:listarTodosCarritoComprasResponse" />
  <xs:element name="obtenerCarritoCompras" type="tns:obtenerCarritoCompras" />
  <xs:element name="obtenerCarritoComprasResponse" type="tns:obtenerCarritoComprasResponse" />
  <xs:element name="obtenerCarritoDeCliente" type="tns:obtenerCarritoDeCliente" />
  <xs:element name="obtenerCarritoDeClienteResponse" type="tns:obtenerCarritoDeClienteResponse" />
  <xs:complexType name="listarLineaCarritoPorIdCarrito">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLineaCarritoPorIdCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lineaCarrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaCarrito">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element name="cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="carritoCompras" type="tns:carritoCompras" />
          <xs:element name="precio" type="xs:double" />
          <xs:element minOccurs="0" name="producto" type="tns:producto" />
          <xs:element name="subTotal" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registro">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carritoCompras">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
          <xs:element name="descuento" type="xs:double" />
          <xs:element minOccurs="0" name="estado" type="tns:estadoCarrito" />
          <xs:element minOccurs="0" name="estadoString" type="xs:string" />
          <xs:element name="montoFinal" type="xs:double" />
          <xs:element name="subtotal" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoriaCliente" />
          <xs:element minOccurs="0" name="categoriaCliente" type="xs:string" />
          <xs:element minOccurs="0" name="cuenta" type="tns:cuentaUsuario" />
          <xs:element name="lineaCredito" type="xs:double" />
          <xs:element name="numeroPedidosHistorico" type="xs:int" />
          <xs:element name="numeroPedidosMensualPro" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
          <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
          <xs:element minOccurs="0" name="dni" type="xs:string" />
          <xs:element minOccurs="0" name="fechaNacimiento" type="tns:localDate" />
          <xs:element minOccurs="0" name="genero" type="tns:genero" />
          <xs:element minOccurs="0" name="generoString" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="telefono" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cuentaUsuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoriaProducto" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="marca" type="xs:string" />
          <xs:element minOccurs="0" name="medidaAlMayor" type="tns:unidadMedida" />
          <xs:element minOccurs="0" name="medidaAlMayorString" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="precioAlMayor" type="xs:double" />
          <xs:element name="precioRegular" type="xs:double" />
          <xs:element minOccurs="0" name="SKU" type="xs:string" />
          <xs:element name="stockDisponible" type="xs:int" />
          <xs:element name="stockMaximo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="categoriaProducto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoriaPadre" type="tns:categoriaProducto" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="eliminarCarritoCompras">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCarritoComprasResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="actualizarCarritoCompras">
    <xs:sequence>
      <xs:element minOccurs="0" name="carritoCompras" type="tns:carritoCompras" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarCarritoComprasResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="insertarCarritoCompras">
    <xs:sequence>
      <xs:element minOccurs="0" name="carritoCompras" type="tns:carritoCompras" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCarritoComprasResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosCarritoCompras">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosCarritoComprasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carritoCompras" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCarritoDeCliente">
    <xs:sequence>
      <xs:element name="idCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCarritoDeClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:carritoCompras" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCarritoCompras">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCarritoComprasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:carritoCompras" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="categoriaCliente">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISTRIBUIDOR" />
      <xs:enumeration value="REVENDEDOR" />
      <xs:enumeration value="RESTAURANTE" />
      <xs:enumeration value="HOTEL" />
      <xs:enumeration value="CATERING" />
      <xs:enumeration value="GOBIERNO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MASCULINO" />
      <xs:enumeration value="FEMENINO" />
      <xs:enumeration value="NO_ESPECIFICADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoCarrito">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VACIO" />
      <xs:enumeration value="EN_PROCESO" />
      <xs:enumeration value="EN_REVISION" />
      <xs:enumeration value="CONFIRMADO" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="EXPIRADO" />
      <xs:enumeration value="COMPLETADO" />
      <xs:enumeration value="PENDIENTE" />
      <xs:enumeration value="PROCESADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unidadMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KILOGRAMO" />
      <xs:enumeration value="LITRO" />
      <xs:enumeration value="GALON" />
      <xs:enumeration value="BOTELLA" />
      <xs:enumeration value="CAJA" />
      <xs:enumeration value="PAQUETE" />
      <xs:enumeration value="SACO" />
      <xs:enumeration value="PACK" />
      <xs:enumeration value="UNIDAD" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>