.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/CategoriaProductoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CategoriaProductoWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/CategoriaProductoWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarCategoriaProducto">
    <part name="parameters" element="tns:listarCategoriaProducto" />
  </message>
  <message name="listarCategoriaProductoResponse">
    <part name="parameters" element="tns:listarCategoriaProductoResponse" />
  </message>
  <message name="insertarCategoriaProducto">
    <part name="parameters" element="tns:insertarCategoriaProducto" />
  </message>
  <message name="insertarCategoriaProductoResponse">
    <part name="parameters" element="tns:insertarCategoriaProductoResponse" />
  </message>
  <message name="obtenerCategoriaProducto">
    <part name="parameters" element="tns:obtenerCategoriaProducto" />
  </message>
  <message name="obtenerCategoriaProductoResponse">
    <part name="parameters" element="tns:obtenerCategoriaProductoResponse" />
  </message>
  <message name="eliminarCategoriaProducto">
    <part name="parameters" element="tns:eliminarCategoriaProducto" />
  </message>
  <message name="eliminarCategoriaProductoResponse">
    <part name="parameters" element="tns:eliminarCategoriaProductoResponse" />
  </message>
  <message name="actualizarCategoriaProducto">
    <part name="parameters" element="tns:actualizarCategoriaProducto" />
  </message>
  <message name="actualizarCategoriaProductoResponse">
    <part name="parameters" element="tns:actualizarCategoriaProductoResponse" />
  </message>
  <portType name="CategoriaProductoWS">
    <operation name="listarCategoriaProducto">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CategoriaProductoWS/listarCategoriaProductoRequest" message="tns:listarCategoriaProducto" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CategoriaProductoWS/listarCategoriaProductoResponse" message="tns:listarCategoriaProductoResponse" />
    </operation>
    <operation name="insertarCategoriaProducto">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CategoriaProductoWS/insertarCategoriaProductoRequest" message="tns:insertarCategoriaProducto" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CategoriaProductoWS/insertarCategoriaProductoResponse" message="tns:insertarCategoriaProductoResponse" />
    </operation>
    <operation name="obtenerCategoriaProducto">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CategoriaProductoWS/obtenerCategoriaProductoRequest" message="tns:obtenerCategoriaProducto" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CategoriaProductoWS/obtenerCategoriaProductoResponse" message="tns:obtenerCategoriaProductoResponse" />
    </operation>
    <operation name="eliminarCategoriaProducto">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CategoriaProductoWS/eliminarCategoriaProductoRequest" message="tns:eliminarCategoriaProducto" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CategoriaProductoWS/eliminarCategoriaProductoResponse" message="tns:eliminarCategoriaProductoResponse" />
    </operation>
    <operation name="actualizarCategoriaProducto">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CategoriaProductoWS/actualizarCategoriaProductoRequest" message="tns:actualizarCategoriaProducto" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CategoriaProductoWS/actualizarCategoriaProductoResponse" message="tns:actualizarCategoriaProductoResponse" />
    </operation>
  </portType>
  <binding name="CategoriaProductoWSPortBinding" type="tns:CategoriaProductoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarCategoriaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCategoriaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCategoriaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCategoriaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCategoriaProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CategoriaProductoWS">
    <port name="CategoriaProductoWSPort" binding="tns:CategoriaProductoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/CategoriaProductoWS" />
    </port>
  </service>
</definitions>