.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/CategoriaProductoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarCategoriaProducto" type="tns:actualizarCategoriaProducto" />
  <xs:element name="actualizarCategoriaProductoResponse" type="tns:actualizarCategoriaProductoResponse" />
  <xs:element name="eliminarCategoriaProducto" type="tns:eliminarCategoriaProducto" />
  <xs:element name="eliminarCategoriaProductoResponse" type="tns:eliminarCategoriaProductoResponse" />
  <xs:element name="insertarCategoriaProducto" type="tns:insertarCategoriaProducto" />
  <xs:element name="insertarCategoriaProductoResponse" type="tns:insertarCategoriaProductoResponse" />
  <xs:element name="listarCategoriaProducto" type="tns:listarCategoriaProducto" />
  <xs:element name="listarCategoriaProductoResponse" type="tns:listarCategoriaProductoResponse" />
  <xs:element name="obtenerCategoriaProducto" type="tns:obtenerCategoriaProducto" />
  <xs:element name="obtenerCategoriaProductoResponse" type="tns:obtenerCategoriaProductoResponse" />
  <xs:complexType name="listarCategoriaProducto">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCategoriaProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:categoriaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriaProducto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoriaPadre" type="tns:categoriaProducto" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registro">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCategoriaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaProducto" type="tns:categoriaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCategoriaProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="actualizarCategoriaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaProducto" type="tns:categoriaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarCategoriaProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerCategoriaProducto">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCategoriaProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:categoriaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCategoriaProducto">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCategoriaProductoResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>