.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/ClienteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ClienteWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/ClienteWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarCliente">
    <part name="parameters" element="tns:listarCliente" />
  </message>
  <message name="listarClienteResponse">
    <part name="parameters" element="tns:listarClienteResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="eEliminarCliente">
    <part name="parameters" element="tns:eEliminarCliente" />
  </message>
  <message name="eEliminarClienteResponse">
    <part name="parameters" element="tns:eEliminarClienteResponse" />
  </message>
  <message name="buscarPorDni">
    <part name="parameters" element="tns:buscarPorDni" />
  </message>
  <message name="buscarPorDniResponse">
    <part name="parameters" element="tns:buscarPorDniResponse" />
  </message>
  <message name="insertarCliente">
    <part name="parameters" element="tns:insertarCliente" />
  </message>
  <message name="insertarClienteResponse">
    <part name="parameters" element="tns:insertarClienteResponse" />
  </message>
  <message name="obtenerCliente">
    <part name="parameters" element="tns:obtenerCliente" />
  </message>
  <message name="obtenerClienteResponse">
    <part name="parameters" element="tns:obtenerClienteResponse" />
  </message>
  <message name="actualizarCliente">
    <part name="parameters" element="tns:actualizarCliente" />
  </message>
  <message name="actualizarClienteResponse">
    <part name="parameters" element="tns:actualizarClienteResponse" />
  </message>
  <portType name="ClienteWS">
    <operation name="listarCliente">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ClienteWS/listarClienteRequest" message="tns:listarCliente" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ClienteWS/listarClienteResponse" message="tns:listarClienteResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ClienteWS/listarCliente/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="eEliminarCliente">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ClienteWS/eEliminarClienteRequest" message="tns:eEliminarCliente" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ClienteWS/eEliminarClienteResponse" message="tns:eEliminarClienteResponse" />
    </operation>
    <operation name="buscarPorDni">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ClienteWS/buscarPorDniRequest" message="tns:buscarPorDni" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ClienteWS/buscarPorDniResponse" message="tns:buscarPorDniResponse" />
    </operation>
    <operation name="insertarCliente">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ClienteWS/insertarClienteRequest" message="tns:insertarCliente" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ClienteWS/insertarClienteResponse" message="tns:insertarClienteResponse" />
    </operation>
    <operation name="obtenerCliente">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ClienteWS/obtenerClienteRequest" message="tns:obtenerCliente" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ClienteWS/obtenerClienteResponse" message="tns:obtenerClienteResponse" />
    </operation>
    <operation name="actualizarCliente">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ClienteWS/actualizarClienteRequest" message="tns:actualizarCliente" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ClienteWS/actualizarClienteResponse" message="tns:actualizarClienteResponse" />
    </operation>
  </portType>
  <binding name="ClienteWSPortBinding" type="tns:ClienteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="eEliminarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarPorDni">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ClienteWS">
    <port name="ClienteWSPort" binding="tns:ClienteWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/ClienteWS" />
    </port>
  </service>
</definitions>