.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/CuentaUsuarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarCuentaUsuario" type="tns:actualizarCuentaUsuario" />
  <xs:element name="actualizarCuentaUsuarioResponse" type="tns:actualizarCuentaUsuarioResponse" />
  <xs:element name="eliminarCuentaUsuario" type="tns:eliminarCuentaUsuario" />
  <xs:element name="eliminarCuentaUsuarioResponse" type="tns:eliminarCuentaUsuarioResponse" />
  <xs:element name="insertarCuentaUsuario" type="tns:insertarCuentaUsuario" />
  <xs:element name="insertarCuentaUsuarioResponse" type="tns:insertarCuentaUsuarioResponse" />
  <xs:element name="listarCuentaUsuario" type="tns:listarCuentaUsuario" />
  <xs:element name="listarCuentaUsuarioResponse" type="tns:listarCuentaUsuarioResponse" />
  <xs:element name="login" type="tns:login" />
  <xs:element name="loginResponse" type="tns:loginResponse" />
  <xs:element name="obtenerCuentaUsuario" type="tns:obtenerCuentaUsuario" />
  <xs:element name="obtenerCuentaUsuarioResponse" type="tns:obtenerCuentaUsuarioResponse" />
  <xs:complexType name="insertarCuentaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="cuentaUsuario" type="tns:cuentaUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cuentaUsuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registro">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCuentaUsuarioResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarCuentaUsuario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCuentaUsuarioResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerCuentaUsuario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCuentaUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cuentaUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCuentaUsuario">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCuentaUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cuentaUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarCuentaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="cuentaUsuario" type="tns:cuentaUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarCuentaUsuarioResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>