.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/CuentaUsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CuentaUsuarioWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/CuentaUsuarioWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="solicitarRecuperacionPassword">
    <part name="parameters" element="tns:solicitarRecuperacionPassword" />
  </message>
  <message name="solicitarRecuperacionPasswordResponse">
    <part name="parameters" element="tns:solicitarRecuperacionPasswordResponse" />
  </message>
  <message name="obtenerCuentaUsuarioPorCorreo">
    <part name="parameters" element="tns:obtenerCuentaUsuarioPorCorreo" />
  </message>
  <message name="obtenerCuentaUsuarioPorCorreoResponse">
    <part name="parameters" element="tns:obtenerCuentaUsuarioPorCorreoResponse" />
  </message>
  <message name="obtenerCuentaUsuarioPorUserName">
    <part name="parameters" element="tns:obtenerCuentaUsuarioPorUserName" />
  </message>
  <message name="obtenerCuentaUsuarioPorUserNameResponse">
    <part name="parameters" element="tns:obtenerCuentaUsuarioPorUserNameResponse" />
  </message>
  <message name="insertarCuentaUsuario">
    <part name="parameters" element="tns:insertarCuentaUsuario" />
  </message>
  <message name="insertarCuentaUsuarioResponse">
    <part name="parameters" element="tns:insertarCuentaUsuarioResponse" />
  </message>
  <message name="JsonProcessingException">
    <part name="fault" element="tns:JsonProcessingException" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException" />
  </message>
  <message name="actualizarCuentaUsuario">
    <part name="parameters" element="tns:actualizarCuentaUsuario" />
  </message>
  <message name="actualizarCuentaUsuarioResponse">
    <part name="parameters" element="tns:actualizarCuentaUsuarioResponse" />
  </message>
  <message name="obtenerCuentaUsuario">
    <part name="parameters" element="tns:obtenerCuentaUsuario" />
  </message>
  <message name="obtenerCuentaUsuarioResponse">
    <part name="parameters" element="tns:obtenerCuentaUsuarioResponse" />
  </message>
  <message name="eliminarCuentaUsuario">
    <part name="parameters" element="tns:eliminarCuentaUsuario" />
  </message>
  <message name="eliminarCuentaUsuarioResponse">
    <part name="parameters" element="tns:eliminarCuentaUsuarioResponse" />
  </message>
  <message name="listarCuentaUsuario">
    <part name="parameters" element="tns:listarCuentaUsuario" />
  </message>
  <message name="listarCuentaUsuarioResponse">
    <part name="parameters" element="tns:listarCuentaUsuarioResponse" />
  </message>
  <message name="login">
    <part name="parameters" element="tns:login" />
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse" />
  </message>
  <message name="cambiarPassword">
    <part name="parameters" element="tns:cambiarPassword" />
  </message>
  <message name="cambiarPasswordResponse">
    <part name="parameters" element="tns:cambiarPasswordResponse" />
  </message>
  <message name="obtenerPorResetToken">
    <part name="parameters" element="tns:obtenerPorResetToken" />
  </message>
  <message name="obtenerPorResetTokenResponse">
    <part name="parameters" element="tns:obtenerPorResetTokenResponse" />
  </message>
  <message name="resetPasswordConToken">
    <part name="parameters" element="tns:resetPasswordConToken" />
  </message>
  <message name="resetPasswordConTokenResponse">
    <part name="parameters" element="tns:resetPasswordConTokenResponse" />
  </message>
  <message name="validarTokenRecuperacion">
    <part name="parameters" element="tns:validarTokenRecuperacion" />
  </message>
  <message name="validarTokenRecuperacionResponse">
    <part name="parameters" element="tns:validarTokenRecuperacionResponse" />
  </message>
  <portType name="CuentaUsuarioWS">
    <operation name="solicitarRecuperacionPassword">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/solicitarRecuperacionPasswordRequest" message="tns:solicitarRecuperacionPassword" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/solicitarRecuperacionPasswordResponse" message="tns:solicitarRecuperacionPasswordResponse" />
    </operation>
    <operation name="obtenerCuentaUsuarioPorCorreo">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/obtenerCuentaUsuarioPorCorreoRequest" message="tns:obtenerCuentaUsuarioPorCorreo" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/obtenerCuentaUsuarioPorCorreoResponse" message="tns:obtenerCuentaUsuarioPorCorreoResponse" />
    </operation>
    <operation name="obtenerCuentaUsuarioPorUserName">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/obtenerCuentaUsuarioPorUserNameRequest" message="tns:obtenerCuentaUsuarioPorUserName" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/obtenerCuentaUsuarioPorUserNameResponse" message="tns:obtenerCuentaUsuarioPorUserNameResponse" />
    </operation>
    <operation name="insertarCuentaUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/insertarCuentaUsuarioRequest" message="tns:insertarCuentaUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/insertarCuentaUsuarioResponse" message="tns:insertarCuentaUsuarioResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/insertarCuentaUsuario/Fault/JsonProcessingException" name="JsonProcessingException" message="tns:JsonProcessingException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/insertarCuentaUsuario/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/insertarCuentaUsuario/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="actualizarCuentaUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/actualizarCuentaUsuarioRequest" message="tns:actualizarCuentaUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/actualizarCuentaUsuarioResponse" message="tns:actualizarCuentaUsuarioResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/actualizarCuentaUsuario/Fault/JsonProcessingException" name="JsonProcessingException" message="tns:JsonProcessingException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/actualizarCuentaUsuario/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/actualizarCuentaUsuario/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerCuentaUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/obtenerCuentaUsuarioRequest" message="tns:obtenerCuentaUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/obtenerCuentaUsuarioResponse" message="tns:obtenerCuentaUsuarioResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/obtenerCuentaUsuario/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/obtenerCuentaUsuario/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="eliminarCuentaUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/eliminarCuentaUsuarioRequest" message="tns:eliminarCuentaUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/eliminarCuentaUsuarioResponse" message="tns:eliminarCuentaUsuarioResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/eliminarCuentaUsuario/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/eliminarCuentaUsuario/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarCuentaUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/listarCuentaUsuarioRequest" message="tns:listarCuentaUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/listarCuentaUsuarioResponse" message="tns:listarCuentaUsuarioResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/listarCuentaUsuario/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/listarCuentaUsuario/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="login">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/loginRequest" message="tns:login" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/loginResponse" message="tns:loginResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/login/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/login/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="cambiarPassword">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/cambiarPasswordRequest" message="tns:cambiarPassword" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/cambiarPasswordResponse" message="tns:cambiarPasswordResponse" />
    </operation>
    <operation name="obtenerPorResetToken">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/obtenerPorResetTokenRequest" message="tns:obtenerPorResetToken" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/obtenerPorResetTokenResponse" message="tns:obtenerPorResetTokenResponse" />
    </operation>
    <operation name="resetPasswordConToken">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/resetPasswordConTokenRequest" message="tns:resetPasswordConToken" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/resetPasswordConTokenResponse" message="tns:resetPasswordConTokenResponse" />
    </operation>
    <operation name="validarTokenRecuperacion">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/validarTokenRecuperacionRequest" message="tns:validarTokenRecuperacion" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/validarTokenRecuperacionResponse" message="tns:validarTokenRecuperacionResponse" />
    </operation>
  </portType>
  <binding name="CuentaUsuarioWSPortBinding" type="tns:CuentaUsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="solicitarRecuperacionPassword">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCuentaUsuarioPorCorreo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCuentaUsuarioPorUserName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JsonProcessingException">
        <soap:fault use="literal" name="JsonProcessingException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="actualizarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JsonProcessingException">
        <soap:fault use="literal" name="JsonProcessingException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="cambiarPassword">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorResetToken">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="resetPasswordConToken">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="validarTokenRecuperacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CuentaUsuarioWS">
    <port name="CuentaUsuarioWSPort" binding="tns:CuentaUsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/CuentaUsuarioWS" />
    </port>
  </service>
</definitions>