.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/DescuentoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarDescuento" type="tns:actualizarDescuento" />
  <xs:element name="actualizarDescuentoResponse" type="tns:actualizarDescuentoResponse" />
  <xs:element name="actualizarPrecioDescuentoProducto" type="tns:actualizarPrecioDescuentoProducto" />
  <xs:element name="actualizarPrecioDescuentoProductoResponse" type="tns:actualizarPrecioDescuentoProductoResponse" />
  <xs:element name="eliminarDescuento" type="tns:eliminarDescuento" />
  <xs:element name="eliminarDescuentoResponse" type="tns:eliminarDescuentoResponse" />
  <xs:element name="insertarDescuento" type="tns:insertarDescuento" />
  <xs:element name="insertarDescuentoResponse" type="tns:insertarDescuentoResponse" />
  <xs:element name="listarDescuento" type="tns:listarDescuento" />
  <xs:element name="listarDescuentoResponse" type="tns:listarDescuentoResponse" />
  <xs:element name="obtenerDescuento" type="tns:obtenerDescuento" />
  <xs:element name="obtenerDescuentoResponse" type="tns:obtenerDescuentoResponse" />
  <xs:complexType name="listarDescuento">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarDescuentoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:descuento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuento">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element name="cantidadMax" type="xs:int" />
          <xs:element name="cantidadMin" type="xs:int" />
          <xs:element name="precioPorVolumen" type="xs:double" />
          <xs:element minOccurs="0" name="producto" type="tns:producto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registro">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoriaProducto" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="marca" type="xs:string" />
          <xs:element minOccurs="0" name="medidaAlMayor" type="tns:unidadMedida" />
          <xs:element minOccurs="0" name="medidaAlMayorString" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="precioAlMayor" type="xs:double" />
          <xs:element name="precioRegular" type="xs:double" />
          <xs:element minOccurs="0" name="SKU" type="xs:string" />
          <xs:element name="stockDisponible" type="xs:int" />
          <xs:element name="stockMaximo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="categoriaProducto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoriaPadre" type="tns:categoriaProducto" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="actualizarDescuento">
    <xs:sequence>
      <xs:element minOccurs="0" name="descuento" type="tns:descuento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarDescuentoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarDescuento">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDescuentoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerDescuento">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDescuentoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:descuento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDescuento">
    <xs:sequence>
      <xs:element minOccurs="0" name="descuento" type="tns:descuento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDescuentoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="actualizarPrecioDescuentoProducto">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element name="nuevo_precio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPrecioDescuentoProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="unidadMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KILOGRAMO" />
      <xs:enumeration value="LITRO" />
      <xs:enumeration value="GALON" />
      <xs:enumeration value="BOTELLA" />
      <xs:enumeration value="CAJA" />
      <xs:enumeration value="PAQUETE" />
      <xs:enumeration value="SACO" />
      <xs:enumeration value="PACK" />
      <xs:enumeration value="UNIDAD" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>