.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/DetalleEnvioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarDetalleEnvio" type="tns:actualizarDetalleEnvio" />
  <xs:element name="actualizarDetalleEnvioResponse" type="tns:actualizarDetalleEnvioResponse" />
  <xs:element name="eliminarDetalleEnvio" type="tns:eliminarDetalleEnvio" />
  <xs:element name="eliminarDetalleEnvioResponse" type="tns:eliminarDetalleEnvioResponse" />
  <xs:element name="insertarDetalleEnvio" type="tns:insertarDetalleEnvio" />
  <xs:element name="insertarDetalleEnvioResponse" type="tns:insertarDetalleEnvioResponse" />
  <xs:element name="listarDetalleEnvio" type="tns:listarDetalleEnvio" />
  <xs:element name="listarDetalleEnvioResponse" type="tns:listarDetalleEnvioResponse" />
  <xs:element name="obtenerDetalleEnvio" type="tns:obtenerDetalleEnvio" />
  <xs:element name="obtenerDetalleEnvioResponse" type="tns:obtenerDetalleEnvioResponse" />
  <xs:complexType name="insertarDetalleEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalleEnvio" type="tns:detalleEnvio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleEnvio">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="direccion" type="xs:string" />
          <xs:element minOccurs="0" name="distrito" type="tns:distrito" />
          <xs:element minOccurs="0" name="distritoString" type="xs:string" />
          <xs:element minOccurs="0" name="fechaEntrega" type="xs:dateTime" />
          <xs:element minOccurs="0" name="horarioEntrega" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registro">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDetalleEnvioResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarDetalleEnvio">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDetalleEnvioResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerDetalleEnvio">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDetalleEnvioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:detalleEnvio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarDetalleEnvio">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalleEnvio" type="tns:detalleEnvio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarDetalleEnvioResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarDetalleEnvio">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarDetalleEnvioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detalleEnvio" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="distrito">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PUEBLO_LIBRE" />
      <xs:enumeration value="SAN_MIGUEL" />
      <xs:enumeration value="SAN_BORJA" />
      <xs:enumeration value="SAN_LUIS" />
      <xs:enumeration value="LINCE" />
      <xs:enumeration value="CALLAO" />
      <xs:enumeration value="LA_VICTORIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>