.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/DetalleEnvioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DetalleEnvioWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/DetalleEnvioWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerDetalleEnvio">
    <part name="parameters" element="tns:obtenerDetalleEnvio" />
  </message>
  <message name="obtenerDetalleEnvioResponse">
    <part name="parameters" element="tns:obtenerDetalleEnvioResponse" />
  </message>
  <message name="insertarDetalleEnvio">
    <part name="parameters" element="tns:insertarDetalleEnvio" />
  </message>
  <message name="insertarDetalleEnvioResponse">
    <part name="parameters" element="tns:insertarDetalleEnvioResponse" />
  </message>
  <message name="actualizarDetalleEnvio">
    <part name="parameters" element="tns:actualizarDetalleEnvio" />
  </message>
  <message name="actualizarDetalleEnvioResponse">
    <part name="parameters" element="tns:actualizarDetalleEnvioResponse" />
  </message>
  <message name="listarDetalleEnvio">
    <part name="parameters" element="tns:listarDetalleEnvio" />
  </message>
  <message name="listarDetalleEnvioResponse">
    <part name="parameters" element="tns:listarDetalleEnvioResponse" />
  </message>
  <message name="eliminarDetalleEnvio">
    <part name="parameters" element="tns:eliminarDetalleEnvio" />
  </message>
  <message name="eliminarDetalleEnvioResponse">
    <part name="parameters" element="tns:eliminarDetalleEnvioResponse" />
  </message>
  <portType name="DetalleEnvioWS">
    <operation name="obtenerDetalleEnvio">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/DetalleEnvioWS/obtenerDetalleEnvioRequest" message="tns:obtenerDetalleEnvio" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/DetalleEnvioWS/obtenerDetalleEnvioResponse" message="tns:obtenerDetalleEnvioResponse" />
    </operation>
    <operation name="insertarDetalleEnvio">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/DetalleEnvioWS/insertarDetalleEnvioRequest" message="tns:insertarDetalleEnvio" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/DetalleEnvioWS/insertarDetalleEnvioResponse" message="tns:insertarDetalleEnvioResponse" />
    </operation>
    <operation name="actualizarDetalleEnvio">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/DetalleEnvioWS/actualizarDetalleEnvioRequest" message="tns:actualizarDetalleEnvio" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/DetalleEnvioWS/actualizarDetalleEnvioResponse" message="tns:actualizarDetalleEnvioResponse" />
    </operation>
    <operation name="listarDetalleEnvio">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/DetalleEnvioWS/listarDetalleEnvioRequest" message="tns:listarDetalleEnvio" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/DetalleEnvioWS/listarDetalleEnvioResponse" message="tns:listarDetalleEnvioResponse" />
    </operation>
    <operation name="eliminarDetalleEnvio">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/DetalleEnvioWS/eliminarDetalleEnvioRequest" message="tns:eliminarDetalleEnvio" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/DetalleEnvioWS/eliminarDetalleEnvioResponse" message="tns:eliminarDetalleEnvioResponse" />
    </operation>
  </portType>
  <binding name="DetalleEnvioWSPortBinding" type="tns:DetalleEnvioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerDetalleEnvio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDetalleEnvio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarDetalleEnvio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarDetalleEnvio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarDetalleEnvio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DetalleEnvioWS">
    <port name="DetalleEnvioWSPort" binding="tns:DetalleEnvioWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/DetalleEnvioWS" />
    </port>
  </service>
</definitions>