.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/EmpresaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="JsonProcessingException" type="tns:JsonProcessingException" />
  <xs:element name="actualizarEmpresa" type="tns:actualizarEmpresa" />
  <xs:element name="actualizarEmpresaResponse" type="tns:actualizarEmpresaResponse" />
  <xs:element name="crearEmpresaValidandoCodigoPostal" type="tns:crearEmpresaValidandoCodigoPostal" />
  <xs:element name="crearEmpresaValidandoCodigoPostalResponse" type="tns:crearEmpresaValidandoCodigoPostalResponse" />
  <xs:element name="eliminarEmpresa" type="tns:eliminarEmpresa" />
  <xs:element name="eliminarEmpresaResponse" type="tns:eliminarEmpresaResponse" />
  <xs:element name="insertarEmpresa" type="tns:insertarEmpresa" />
  <xs:element name="insertarEmpresaResponse" type="tns:insertarEmpresaResponse" />
  <xs:element name="listarEmpresa" type="tns:listarEmpresa" />
  <xs:element name="listarEmpresaResponse" type="tns:listarEmpresaResponse" />
  <xs:element name="listarEmpresasActivos" type="tns:listarEmpresasActivos" />
  <xs:element name="listarEmpresasActivosResponse" type="tns:listarEmpresasActivosResponse" />
  <xs:element name="listarEmpresasNoActivos" type="tns:listarEmpresasNoActivos" />
  <xs:element name="listarEmpresasNoActivosResponse" type="tns:listarEmpresasNoActivosResponse" />
  <xs:element name="listarEmpresasPorCliente" type="tns:listarEmpresasPorCliente" />
  <xs:element name="listarEmpresasPorClienteActivas" type="tns:listarEmpresasPorClienteActivas" />
  <xs:element name="listarEmpresasPorClienteActivasResponse" type="tns:listarEmpresasPorClienteActivasResponse" />
  <xs:element name="listarEmpresasPorClienteNoActivas" type="tns:listarEmpresasPorClienteNoActivas" />
  <xs:element name="listarEmpresasPorClienteNoActivasResponse" type="tns:listarEmpresasPorClienteNoActivasResponse" />
  <xs:element name="listarEmpresasPorClienteResponse" type="tns:listarEmpresasPorClienteResponse" />
  <xs:element name="obtenerEmpresa" type="tns:obtenerEmpresa" />
  <xs:element name="obtenerEmpresaResponse" type="tns:obtenerEmpresaResponse" />
  <xs:element name="validarEmpresa" type="tns:validarEmpresa" />
  <xs:element name="validarEmpresaResponse" type="tns:validarEmpresaResponse" />
  <xs:complexType name="listarEmpresasPorClienteNoActivas">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpresasPorClienteNoActivasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empresa">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
          <xs:element minOccurs="0" name="codigoPostal" type="xs:string" />
          <xs:element minOccurs="0" name="departamento" type="xs:string" />
          <xs:element minOccurs="0" name="direccionFiscal" type="xs:string" />
          <xs:element minOccurs="0" name="distrito" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="provincia" type="xs:string" />
          <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
          <xs:element minOccurs="0" name="ruc" type="xs:string" />
          <xs:element minOccurs="0" name="telefono" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registro">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="activoInt" type="xs:int" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoriaCliente" />
          <xs:element minOccurs="0" name="categoriaCliente" type="xs:string" />
          <xs:element minOccurs="0" name="cuenta" type="tns:cuentaUsuario" />
          <xs:element name="lineaCredito" type="xs:double" />
          <xs:element name="numeroPedidosHistorico" type="xs:int" />
          <xs:element name="numeroPedidosMensualPro" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
          <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
          <xs:element minOccurs="0" name="dni" type="xs:string" />
          <xs:element minOccurs="0" name="fechaNacimiento" type="xs:string" />
          <xs:element minOccurs="0" name="genero" type="tns:genero" />
          <xs:element minOccurs="0" name="generoString" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="telefono" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cuentaUsuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="correo" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="resetToken" type="xs:string" />
          <xs:element minOccurs="0" name="resetTokenExpira" type="tns:timestamp" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="timestamp">
    <xs:sequence>
      <xs:element name="nanos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEmpresa">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEmpresaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpresasNoActivos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpresasNoActivosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarEmpresa">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarEmpresaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpresasActivos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpresasActivosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="empresa" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEmpresaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="JsonProcessingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="location" type="tns:jsonLocation" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="originalMessage" type="xs:string" />
      <xs:element minOccurs="0" name="processor" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jsonLocation">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerEmpresa">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEmpresaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpresa">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpresaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpresasPorCliente">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpresasPorClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="empresa" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpresaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="crearEmpresaValidandoCodigoPostal">
    <xs:sequence>
      <xs:element minOccurs="0" name="empresa" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="crearEmpresaValidandoCodigoPostalResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpresasPorClienteActivas">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpresasPorClienteActivasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="categoriaCliente">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISTRIBUIDOR" />
      <xs:enumeration value="REVENDEDOR" />
      <xs:enumeration value="RESTAURANTE" />
      <xs:enumeration value="HOTEL" />
      <xs:enumeration value="CATERING" />
      <xs:enumeration value="GOBIERNO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MASCULINO" />
      <xs:enumeration value="FEMENINO" />
      <xs:enumeration value="NO_ESPECIFICADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>