.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/EmpresaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EmpresaWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/EmpresaWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarEmpresasPorClienteActivas">
    <part name="parameters" element="tns:listarEmpresasPorClienteActivas" />
  </message>
  <message name="listarEmpresasPorClienteActivasResponse">
    <part name="parameters" element="tns:listarEmpresasPorClienteActivasResponse" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException" />
  </message>
  <message name="listarEmpresasPorClienteNoActivas">
    <part name="parameters" element="tns:listarEmpresasPorClienteNoActivas" />
  </message>
  <message name="listarEmpresasPorClienteNoActivasResponse">
    <part name="parameters" element="tns:listarEmpresasPorClienteNoActivasResponse" />
  </message>
  <message name="listarEmpresa">
    <part name="parameters" element="tns:listarEmpresa" />
  </message>
  <message name="listarEmpresaResponse">
    <part name="parameters" element="tns:listarEmpresaResponse" />
  </message>
  <message name="obtenerEmpresa">
    <part name="parameters" element="tns:obtenerEmpresa" />
  </message>
  <message name="obtenerEmpresaResponse">
    <part name="parameters" element="tns:obtenerEmpresaResponse" />
  </message>
  <message name="listarEmpresasNoActivos">
    <part name="parameters" element="tns:listarEmpresasNoActivos" />
  </message>
  <message name="listarEmpresasNoActivosResponse">
    <part name="parameters" element="tns:listarEmpresasNoActivosResponse" />
  </message>
  <message name="listarEmpresasPorCliente">
    <part name="parameters" element="tns:listarEmpresasPorCliente" />
  </message>
  <message name="listarEmpresasPorClienteResponse">
    <part name="parameters" element="tns:listarEmpresasPorClienteResponse" />
  </message>
  <message name="validarEmpresa">
    <part name="parameters" element="tns:validarEmpresa" />
  </message>
  <message name="validarEmpresaResponse">
    <part name="parameters" element="tns:validarEmpresaResponse" />
  </message>
  <message name="crearEmpresaValidandoCodigoPostal">
    <part name="parameters" element="tns:crearEmpresaValidandoCodigoPostal" />
  </message>
  <message name="crearEmpresaValidandoCodigoPostalResponse">
    <part name="parameters" element="tns:crearEmpresaValidandoCodigoPostalResponse" />
  </message>
  <message name="JsonProcessingException">
    <part name="fault" element="tns:JsonProcessingException" />
  </message>
  <message name="listarEmpresasActivos">
    <part name="parameters" element="tns:listarEmpresasActivos" />
  </message>
  <message name="listarEmpresasActivosResponse">
    <part name="parameters" element="tns:listarEmpresasActivosResponse" />
  </message>
  <message name="eliminarEmpresa">
    <part name="parameters" element="tns:eliminarEmpresa" />
  </message>
  <message name="eliminarEmpresaResponse">
    <part name="parameters" element="tns:eliminarEmpresaResponse" />
  </message>
  <message name="insertarEmpresa">
    <part name="parameters" element="tns:insertarEmpresa" />
  </message>
  <message name="insertarEmpresaResponse">
    <part name="parameters" element="tns:insertarEmpresaResponse" />
  </message>
  <message name="actualizarEmpresa">
    <part name="parameters" element="tns:actualizarEmpresa" />
  </message>
  <message name="actualizarEmpresaResponse">
    <part name="parameters" element="tns:actualizarEmpresaResponse" />
  </message>
  <portType name="EmpresaWS">
    <operation name="listarEmpresasPorClienteActivas">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasPorClienteActivasRequest" message="tns:listarEmpresasPorClienteActivas" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasPorClienteActivasResponse" message="tns:listarEmpresasPorClienteActivasResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasPorClienteActivas/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasPorClienteActivas/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarEmpresasPorClienteNoActivas">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasPorClienteNoActivasRequest" message="tns:listarEmpresasPorClienteNoActivas" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasPorClienteNoActivasResponse" message="tns:listarEmpresasPorClienteNoActivasResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasPorClienteNoActivas/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasPorClienteNoActivas/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarEmpresa">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresaRequest" message="tns:listarEmpresa" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresaResponse" message="tns:listarEmpresaResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresa/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresa/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerEmpresa">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/obtenerEmpresaRequest" message="tns:obtenerEmpresa" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/obtenerEmpresaResponse" message="tns:obtenerEmpresaResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/obtenerEmpresa/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/obtenerEmpresa/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarEmpresasNoActivos">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasNoActivosRequest" message="tns:listarEmpresasNoActivos" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasNoActivosResponse" message="tns:listarEmpresasNoActivosResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasNoActivos/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasNoActivos/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarEmpresasPorCliente">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasPorClienteRequest" message="tns:listarEmpresasPorCliente" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasPorClienteResponse" message="tns:listarEmpresasPorClienteResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasPorCliente/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasPorCliente/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="validarEmpresa">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/validarEmpresaRequest" message="tns:validarEmpresa" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/validarEmpresaResponse" message="tns:validarEmpresaResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/validarEmpresa/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/validarEmpresa/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="crearEmpresaValidandoCodigoPostal">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/crearEmpresaValidandoCodigoPostalRequest" message="tns:crearEmpresaValidandoCodigoPostal" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/crearEmpresaValidandoCodigoPostalResponse" message="tns:crearEmpresaValidandoCodigoPostalResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/crearEmpresaValidandoCodigoPostal/Fault/JsonProcessingException" name="JsonProcessingException" message="tns:JsonProcessingException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/crearEmpresaValidandoCodigoPostal/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/crearEmpresaValidandoCodigoPostal/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarEmpresasActivos">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasActivosRequest" message="tns:listarEmpresasActivos" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasActivosResponse" message="tns:listarEmpresasActivosResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasActivos/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/listarEmpresasActivos/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="eliminarEmpresa">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/eliminarEmpresaRequest" message="tns:eliminarEmpresa" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/eliminarEmpresaResponse" message="tns:eliminarEmpresaResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/eliminarEmpresa/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/eliminarEmpresa/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="insertarEmpresa">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/insertarEmpresaRequest" message="tns:insertarEmpresa" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/insertarEmpresaResponse" message="tns:insertarEmpresaResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/insertarEmpresa/Fault/JsonProcessingException" name="JsonProcessingException" message="tns:JsonProcessingException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/insertarEmpresa/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/insertarEmpresa/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="actualizarEmpresa">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/actualizarEmpresaRequest" message="tns:actualizarEmpresa" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/actualizarEmpresaResponse" message="tns:actualizarEmpresaResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/actualizarEmpresa/Fault/JsonProcessingException" name="JsonProcessingException" message="tns:JsonProcessingException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/actualizarEmpresa/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/EmpresaWS/actualizarEmpresa/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
  </portType>
  <binding name="EmpresaWSPortBinding" type="tns:EmpresaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarEmpresasPorClienteActivas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarEmpresasPorClienteNoActivas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarEmpresa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerEmpresa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarEmpresasNoActivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarEmpresasPorCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="validarEmpresa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="crearEmpresaValidandoCodigoPostal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JsonProcessingException">
        <soap:fault use="literal" name="JsonProcessingException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarEmpresasActivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarEmpresa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="insertarEmpresa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JsonProcessingException">
        <soap:fault use="literal" name="JsonProcessingException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="actualizarEmpresa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JsonProcessingException">
        <soap:fault use="literal" name="JsonProcessingException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="EmpresaWS">
    <port name="EmpresaWSPort" binding="tns:EmpresaWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/EmpresaWS" />
    </port>
  </service>
</definitions>