.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/LineaOrdenCompraWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarLineaOrdenCompra" type="tns:actualizarLineaOrdenCompra" />
  <xs:element name="actualizarLineaOrdenCompraResponse" type="tns:actualizarLineaOrdenCompraResponse" />
  <xs:element name="eliminarLineaOrdenCompra" type="tns:eliminarLineaOrdenCompra" />
  <xs:element name="eliminarLineaOrdenCompraResponse" type="tns:eliminarLineaOrdenCompraResponse" />
  <xs:element name="insertarLineaOrdenCompra" type="tns:insertarLineaOrdenCompra" />
  <xs:element name="insertarLineaOrdenCompraResponse" type="tns:insertarLineaOrdenCompraResponse" />
  <xs:element name="listarLineaOrdenCompra" type="tns:listarLineaOrdenCompra" />
  <xs:element name="listarLineaOrdenCompraResponse" type="tns:listarLineaOrdenCompraResponse" />
  <xs:element name="obtenerLineaOrdenCompra" type="tns:obtenerLineaOrdenCompra" />
  <xs:element name="obtenerLineaOrdenCompraResponse" type="tns:obtenerLineaOrdenCompraResponse" />
  <xs:complexType name="actualizarLineaOrdenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="lineaordenCompra" type="tns:lineaOrdenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaOrdenCompra">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element name="cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="carritoCompras" type="tns:carritoCompras" />
          <xs:element name="codigo" type="xs:int" />
          <xs:element name="montoPagado" type="xs:double" />
          <xs:element minOccurs="0" name="ordenCompra" type="tns:ordenCompra" />
          <xs:element name="precioUnitario" type="xs:double" />
          <xs:element minOccurs="0" name="producto" type="tns:producto" />
          <xs:element name="subTotal" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registro">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carritoCompras">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
          <xs:element minOccurs="0" name="estado" type="tns:estadoCarrito" />
          <xs:element minOccurs="0" name="estadoString" type="xs:string" />
          <xs:element name="totalConDescuento" type="xs:double" />
          <xs:element name="totalParcial" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoriaCliente" />
          <xs:element minOccurs="0" name="categoriaCliente" type="xs:string" />
          <xs:element name="lineaCredito" type="xs:double" />
          <xs:element name="numeroPedidosHistorico" type="xs:int" />
          <xs:element name="numeroPedidosMensualPro" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
          <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
          <xs:element minOccurs="0" name="dni" type="xs:string" />
          <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="genero" type="tns:genero" />
          <xs:element minOccurs="0" name="generoString" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="telefono" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ordenCompra">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
          <xs:element name="descuentoTotal" type="xs:double" />
          <xs:element minOccurs="0" name="detalleEnvio" type="tns:detalleEnvio" />
          <xs:element minOccurs="0" name="estado" type="tns:estadoOrdenCompra" />
          <xs:element minOccurs="0" name="estadoString" type="xs:string" />
          <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="lineasOrden" nillable="true" type="tns:lineaOrdenCompra" />
          <xs:element name="totalFinal" type="xs:double" />
          <xs:element name="totalParcial" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="detalleEnvio">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="direccion" type="xs:string" />
          <xs:element minOccurs="0" name="distrito" type="tns:distrito" />
          <xs:element minOccurs="0" name="distritoString" type="xs:string" />
          <xs:element minOccurs="0" name="fechaEntrega" type="xs:dateTime" />
          <xs:element minOccurs="0" name="horarioEntrega" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoriaProducto" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="marca" type="xs:string" />
          <xs:element minOccurs="0" name="medidaAlMayor" type="tns:unidadMedida" />
          <xs:element minOccurs="0" name="medidaAlMayorString" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="precioAlMayor" type="xs:double" />
          <xs:element name="precioUnitario" type="xs:double" />
          <xs:element minOccurs="0" name="SKU" type="xs:string" />
          <xs:element name="stockDisponible" type="xs:int" />
          <xs:element name="stockMaximo" type="xs:int" />
          <xs:element name="stockMinimo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="categoriaProducto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element name="idCategoriaPadre" type="xs:int" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="actualizarLineaOrdenCompraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="insertarLineaOrdenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="lineaordenCompra" type="tns:lineaOrdenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarLineaOrdenCompraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarLineaOrdenCompra">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLineaOrdenCompraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarLineaOrdenCompra">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarLineaOrdenCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lineaOrdenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerLineaOrdenCompra">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerLineaOrdenCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:lineaOrdenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="categoriaCliente">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISTRIBUIDOR" />
      <xs:enumeration value="REVENDEDOR" />
      <xs:enumeration value="RESTAURANTE" />
      <xs:enumeration value="HOTEL" />
      <xs:enumeration value="CATERING" />
      <xs:enumeration value="GOBIERNO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HOMBRE" />
      <xs:enumeration value="MUJER" />
      <xs:enumeration value="NO_ESPECIFICADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoCarrito">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VACIO" />
      <xs:enumeration value="EN_PROCESO" />
      <xs:enumeration value="EN_REVISION" />
      <xs:enumeration value="CONFIRMADO" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="EXPIRADO" />
      <xs:enumeration value="COMPLETADO" />
      <xs:enumeration value="PENDIENTE" />
      <xs:enumeration value="PROCESADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="distrito">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PUEBLO_LIBRE" />
      <xs:enumeration value="SAN_MIGUEL" />
      <xs:enumeration value="SAN_BORJA" />
      <xs:enumeration value="SAN_LUIS" />
      <xs:enumeration value="LINCE" />
      <xs:enumeration value="CALLAO" />
      <xs:enumeration value="LA_VICTORIA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoOrdenCompra">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PAGADO" />
      <xs:enumeration value="EN_PREPARACION" />
      <xs:enumeration value="ENVIADO" />
      <xs:enumeration value="ENTREGADO" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="REEMBOLSADO" />
      <xs:enumeration value="EXPIRADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unidadMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KILOGRAMO" />
      <xs:enumeration value="LITRO" />
      <xs:enumeration value="GALON" />
      <xs:enumeration value="BOTELLA" />
      <xs:enumeration value="CAJA" />
      <xs:enumeration value="PAQUETE" />
      <xs:enumeration value="SACO" />
      <xs:enumeration value="PACK" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>