.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/LineaCarritoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LineaCarritoWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/LineaCarritoWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarLineaCarrito">
    <part name="parameters" element="tns:insertarLineaCarrito" />
  </message>
  <message name="insertarLineaCarritoResponse">
    <part name="parameters" element="tns:insertarLineaCarritoResponse" />
  </message>
  <message name="JsonProcessingException">
    <part name="fault" element="tns:JsonProcessingException" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException" />
  </message>
  <message name="actualizarLineaCarrito">
    <part name="parameters" element="tns:actualizarLineaCarrito" />
  </message>
  <message name="actualizarLineaCarritoResponse">
    <part name="parameters" element="tns:actualizarLineaCarritoResponse" />
  </message>
  <message name="eliminarLineaCarrito">
    <part name="parameters" element="tns:eliminarLineaCarrito" />
  </message>
  <message name="eliminarLineaCarritoResponse">
    <part name="parameters" element="tns:eliminarLineaCarritoResponse" />
  </message>
  <message name="obtenerLineaCarrito">
    <part name="parameters" element="tns:obtenerLineaCarrito" />
  </message>
  <message name="obtenerLineaCarritoResponse">
    <part name="parameters" element="tns:obtenerLineaCarritoResponse" />
  </message>
  <message name="listarLineaCarrito">
    <part name="parameters" element="tns:listarLineaCarrito" />
  </message>
  <message name="listarLineaCarritoResponse">
    <part name="parameters" element="tns:listarLineaCarritoResponse" />
  </message>
  <portType name="LineaCarritoWS">
    <operation name="insertarLineaCarrito">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/insertarLineaCarritoRequest" message="tns:insertarLineaCarrito" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/insertarLineaCarritoResponse" message="tns:insertarLineaCarritoResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/insertarLineaCarrito/Fault/JsonProcessingException" name="JsonProcessingException" message="tns:JsonProcessingException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/insertarLineaCarrito/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/insertarLineaCarrito/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="actualizarLineaCarrito">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/actualizarLineaCarritoRequest" message="tns:actualizarLineaCarrito" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/actualizarLineaCarritoResponse" message="tns:actualizarLineaCarritoResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/actualizarLineaCarrito/Fault/JsonProcessingException" name="JsonProcessingException" message="tns:JsonProcessingException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/actualizarLineaCarrito/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/actualizarLineaCarrito/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="eliminarLineaCarrito">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/eliminarLineaCarritoRequest" message="tns:eliminarLineaCarrito" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/eliminarLineaCarritoResponse" message="tns:eliminarLineaCarritoResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/eliminarLineaCarrito/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/eliminarLineaCarrito/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerLineaCarrito">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/obtenerLineaCarritoRequest" message="tns:obtenerLineaCarrito" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/obtenerLineaCarritoResponse" message="tns:obtenerLineaCarritoResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/obtenerLineaCarrito/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/obtenerLineaCarrito/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarLineaCarrito">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/listarLineaCarritoRequest" message="tns:listarLineaCarrito" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/listarLineaCarritoResponse" message="tns:listarLineaCarritoResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/listarLineaCarrito/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/LineaCarritoWS/listarLineaCarrito/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
  </portType>
  <binding name="LineaCarritoWSPortBinding" type="tns:LineaCarritoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarLineaCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JsonProcessingException">
        <soap:fault use="literal" name="JsonProcessingException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="actualizarLineaCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JsonProcessingException">
        <soap:fault use="literal" name="JsonProcessingException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarLineaCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerLineaCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarLineaCarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="LineaCarritoWS">
    <port name="LineaCarritoWSPort" binding="tns:LineaCarritoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/LineaCarritoWS" />
    </port>
  </service>
</definitions>