.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/LineaCarritoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="JsonProcessingException" type="tns:JsonProcessingException" />
  <xs:element name="actualizarLineaCarrito" type="tns:actualizarLineaCarrito" />
  <xs:element name="actualizarLineaCarritoResponse" type="tns:actualizarLineaCarritoResponse" />
  <xs:element name="eliminarLineaCarrito" type="tns:eliminarLineaCarrito" />
  <xs:element name="eliminarLineaCarritoResponse" type="tns:eliminarLineaCarritoResponse" />
  <xs:element name="insertarLineaCarrito" type="tns:insertarLineaCarrito" />
  <xs:element name="insertarLineaCarritoResponse" type="tns:insertarLineaCarritoResponse" />
  <xs:element name="listarLineaCarrito" type="tns:listarLineaCarrito" />
  <xs:element name="listarLineaCarritoResponse" type="tns:listarLineaCarritoResponse" />
  <xs:element name="obtenerLineaCarrito" type="tns:obtenerLineaCarrito" />
  <xs:element name="obtenerLineaCarritoResponse" type="tns:obtenerLineaCarritoResponse" />
  <xs:complexType name="obtenerLineaCarrito">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerLineaCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:lineaCarrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaCarrito">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element name="cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="carritoCompras" type="tns:carritoCompras" />
          <xs:element name="precio" type="xs:double" />
          <xs:element minOccurs="0" name="producto" type="tns:producto" />
          <xs:element name="subTotal" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registro">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="activoInt" type="xs:int" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carritoCompras">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
          <xs:element name="descuento" type="xs:double" />
          <xs:element name="montoFinal" type="xs:double" />
          <xs:element name="subtotal" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoriaCliente" />
          <xs:element minOccurs="0" name="categoriaCliente" type="xs:string" />
          <xs:element minOccurs="0" name="cuenta" type="tns:cuentaUsuario" />
          <xs:element name="lineaCredito" type="xs:double" />
          <xs:element name="numeroPedidosHistorico" type="xs:int" />
          <xs:element name="numeroPedidosMensualPro" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
          <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
          <xs:element minOccurs="0" name="dni" type="xs:string" />
          <xs:element minOccurs="0" name="fechaNacimiento" type="tns:localDate" />
          <xs:element minOccurs="0" name="genero" type="tns:genero" />
          <xs:element minOccurs="0" name="generoString" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="telefono" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cuentaUsuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="correo" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="resetToken" type="xs:string" />
          <xs:element minOccurs="0" name="resetTokenExpira" type="tns:timestamp" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="timestamp">
    <xs:sequence>
      <xs:element name="nanos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoriaProducto" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="marca" type="xs:string" />
          <xs:element minOccurs="0" name="medidaAlMayor" type="tns:unidadMedida" />
          <xs:element minOccurs="0" name="medidaAlMayorString" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="precioAlMayor" type="xs:double" />
          <xs:element name="precioRegular" type="xs:double" />
          <xs:element minOccurs="0" name="SKU" type="xs:string" />
          <xs:element name="stockDisponible" type="xs:int" />
          <xs:element name="stockMaximo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="categoriaProducto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoriaPadre" type="tns:categoriaProducto" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLineaCarrito">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLineaCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarLineaCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="lineaCarrito" type="tns:lineaCarrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarLineaCarritoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="JsonProcessingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="location" type="tns:jsonLocation" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="originalMessage" type="xs:string" />
      <xs:element minOccurs="0" name="processor" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jsonLocation">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="insertarLineaCarrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="lineaCarrito" type="tns:lineaCarrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarLineaCarritoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarLineaCarrito">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarLineaCarritoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lineaCarrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="categoriaCliente">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISTRIBUIDOR" />
      <xs:enumeration value="REVENDEDOR" />
      <xs:enumeration value="RESTAURANTE" />
      <xs:enumeration value="HOTEL" />
      <xs:enumeration value="CATERING" />
      <xs:enumeration value="GOBIERNO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MASCULINO" />
      <xs:enumeration value="FEMENINO" />
      <xs:enumeration value="NO_ESPECIFICADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unidadMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KILOGRAMO" />
      <xs:enumeration value="LITRO" />
      <xs:enumeration value="GALON" />
      <xs:enumeration value="BOTELLA" />
      <xs:enumeration value="CAJA" />
      <xs:enumeration value="PAQUETE" />
      <xs:enumeration value="SACO" />
      <xs:enumeration value="PACK" />
      <xs:enumeration value="UNIDAD" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>