.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/OrdenCompraWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="JsonProcessingException" type="tns:JsonProcessingException" />
  <xs:element name="actualizarOrdenCompra" type="tns:actualizarOrdenCompra" />
  <xs:element name="actualizarOrdenCompraResponse" type="tns:actualizarOrdenCompraResponse" />
  <xs:element name="consultarOrdenCompraPorIdCliente" type="tns:consultarOrdenCompraPorIdCliente" />
  <xs:element name="consultarOrdenCompraPorIdClienteResponse" type="tns:consultarOrdenCompraPorIdClienteResponse" />
  <xs:element name="consultarPedidoPorFechas" type="tns:consultarPedidoPorFechas" />
  <xs:element name="consultarPedidoPorFechasResponse" type="tns:consultarPedidoPorFechasResponse" />
  <xs:element name="desactivarOrdenCompra" type="tns:desactivarOrdenCompra" />
  <xs:element name="desactivarOrdenCompraPorHorario" type="tns:desactivarOrdenCompraPorHorario" />
  <xs:element name="desactivarOrdenCompraPorHorarioResponse" type="tns:desactivarOrdenCompraPorHorarioResponse" />
  <xs:element name="desactivarOrdenCompraResponse" type="tns:desactivarOrdenCompraResponse" />
  <xs:element name="eliminarOrdenCompra" type="tns:eliminarOrdenCompra" />
  <xs:element name="eliminarOrdenCompraResponse" type="tns:eliminarOrdenCompraResponse" />
  <xs:element name="insertarOrdenCompra" type="tns:insertarOrdenCompra" />
  <xs:element name="insertarOrdenCompraResponse" type="tns:insertarOrdenCompraResponse" />
  <xs:element name="listarLineasOrdenCompraPorIdOrdenCompra" type="tns:listarLineasOrdenCompraPorIdOrdenCompra" />
  <xs:element name="listarLineasOrdenCompraPorIdOrdenCompraResponse" type="tns:listarLineasOrdenCompraPorIdOrdenCompraResponse" />
  <xs:element name="listarOrdenCompra" type="tns:listarOrdenCompra" />
  <xs:element name="listarOrdenCompraResponse" type="tns:listarOrdenCompraResponse" />
  <xs:element name="obtenerOrdenCompra" type="tns:obtenerOrdenCompra" />
  <xs:element name="obtenerOrdenCompraResponse" type="tns:obtenerOrdenCompraResponse" />
  <xs:complexType name="insertarOrdenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenCompra" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenCompra">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="carritoCompras" type="tns:carritoCompras" />
          <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
          <xs:element name="descuentoTotal" type="xs:double" />
          <xs:element minOccurs="0" name="empresa" type="tns:empresa" />
          <xs:element minOccurs="0" name="estado" type="tns:estadoOrdenCompra" />
          <xs:element minOccurs="0" name="estadoString" type="xs:string" />
          <xs:element minOccurs="0" name="fechaCreacion" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="lineasOrden" nillable="true" type="tns:lineaOrdenCompra" />
          <xs:element name="totalFinal" type="xs:double" />
          <xs:element name="totalParcial" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registro">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="activoInt" type="xs:int" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carritoCompras">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
          <xs:element name="descuento" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="lineasCarrito" nillable="true" type="tns:lineaCarrito" />
          <xs:element name="montoFinal" type="xs:double" />
          <xs:element name="subtotal" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoriaCliente" />
          <xs:element minOccurs="0" name="categoriaCliente" type="xs:string" />
          <xs:element minOccurs="0" name="cuenta" type="tns:cuentaUsuario" />
          <xs:element name="lineaCredito" type="xs:double" />
          <xs:element name="numeroPedidosHistorico" type="xs:int" />
          <xs:element name="numeroPedidosMensualPro" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
          <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
          <xs:element minOccurs="0" name="dni" type="xs:string" />
          <xs:element minOccurs="0" name="fechaNacimiento" type="xs:string" />
          <xs:element minOccurs="0" name="genero" type="tns:genero" />
          <xs:element minOccurs="0" name="generoString" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="telefono" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cuentaUsuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="correo" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="resetToken" type="xs:string" />
          <xs:element minOccurs="0" name="resetTokenExpira" type="tns:timestamp" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="timestamp">
    <xs:sequence>
      <xs:element name="nanos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaCarrito">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element name="cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="carritoCompras" type="tns:carritoCompras" />
          <xs:element name="precio" type="xs:double" />
          <xs:element minOccurs="0" name="producto" type="tns:producto" />
          <xs:element name="subTotal" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoriaProducto" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="imagenURL" type="xs:string" />
          <xs:element minOccurs="0" name="marca" type="xs:string" />
          <xs:element minOccurs="0" name="medidaAlMayor" type="tns:unidadMedida" />
          <xs:element minOccurs="0" name="medidaAlMayorString" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="precioAlMayor" type="xs:double" />
          <xs:element name="precioRegular" type="xs:double" />
          <xs:element minOccurs="0" name="sku" type="xs:string" />
          <xs:element name="stockDisponible" type="xs:int" />
          <xs:element name="stockMaximo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="categoriaProducto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoriaPadre" type="tns:categoriaProducto" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="empresa">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
          <xs:element minOccurs="0" name="codigoPostal" type="xs:string" />
          <xs:element minOccurs="0" name="departamento" type="xs:string" />
          <xs:element minOccurs="0" name="direccionFiscal" type="xs:string" />
          <xs:element minOccurs="0" name="distrito" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="provincia" type="xs:string" />
          <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
          <xs:element minOccurs="0" name="ruc" type="xs:string" />
          <xs:element minOccurs="0" name="telefono" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="lineaOrdenCompra">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element name="cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="ordenCompra" type="tns:ordenCompra" />
          <xs:element name="precio" type="xs:double" />
          <xs:element minOccurs="0" name="producto" type="tns:producto" />
          <xs:element name="subTotal" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insertarOrdenCompraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="JsonProcessingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="location" type="tns:jsonLocation" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="originalMessage" type="xs:string" />
      <xs:element minOccurs="0" name="processor" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jsonLocation">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarPedidoPorFechas">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="fecha1" type="xs:string" />
      <xs:element minOccurs="0" name="fecha2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarPedidoPorFechasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="desactivarOrdenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="desactivarOrdenCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenCompra">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarOrdenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenCompra" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarOrdenCompraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarLineasOrdenCompraPorIdOrdenCompra">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLineasOrdenCompraPorIdOrdenCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lineaOrdenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerOrdenCompra">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerOrdenCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenCompra">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenCompraResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="consultarOrdenCompraPorIdCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarOrdenCompraPorIdClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="desactivarOrdenCompraPorHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="desactivarOrdenCompraPorHorarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="categoriaCliente">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISTRIBUIDOR" />
      <xs:enumeration value="REVENDEDOR" />
      <xs:enumeration value="RESTAURANTE" />
      <xs:enumeration value="HOTEL" />
      <xs:enumeration value="CATERING" />
      <xs:enumeration value="GOBIERNO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MASCULINO" />
      <xs:enumeration value="FEMENINO" />
      <xs:enumeration value="NO_ESPECIFICADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unidadMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KILOGRAMO" />
      <xs:enumeration value="LITRO" />
      <xs:enumeration value="GALON" />
      <xs:enumeration value="BOTELLA" />
      <xs:enumeration value="CAJA" />
      <xs:enumeration value="PAQUETE" />
      <xs:enumeration value="SACO" />
      <xs:enumeration value="PACK" />
      <xs:enumeration value="UNIDAD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoOrdenCompra">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PAGADO" />
      <xs:enumeration value="EN_PREPARACION" />
      <xs:enumeration value="ENVIADO" />
      <xs:enumeration value="ENTREGADO" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="REEMBOLSADO" />
      <xs:enumeration value="EXPIRADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>