.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/OrdenCompraWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="OrdenCompraWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/OrdenCompraWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarOrdenCompra">
    <part name="parameters" element="tns:listarOrdenCompra" />
  </message>
  <message name="listarOrdenCompraResponse">
    <part name="parameters" element="tns:listarOrdenCompraResponse" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException" />
  </message>
  <message name="obtenerOrdenCompra">
    <part name="parameters" element="tns:obtenerOrdenCompra" />
  </message>
  <message name="obtenerOrdenCompraResponse">
    <part name="parameters" element="tns:obtenerOrdenCompraResponse" />
  </message>
  <message name="consultarOrdenCompraPorIdCliente">
    <part name="parameters" element="tns:consultarOrdenCompraPorIdCliente" />
  </message>
  <message name="consultarOrdenCompraPorIdClienteResponse">
    <part name="parameters" element="tns:consultarOrdenCompraPorIdClienteResponse" />
  </message>
  <message name="desactivarOrdenCompraPorHorario">
    <part name="parameters" element="tns:desactivarOrdenCompraPorHorario" />
  </message>
  <message name="desactivarOrdenCompraPorHorarioResponse">
    <part name="parameters" element="tns:desactivarOrdenCompraPorHorarioResponse" />
  </message>
  <message name="actualizarOrdenCompra">
    <part name="parameters" element="tns:actualizarOrdenCompra" />
  </message>
  <message name="actualizarOrdenCompraResponse">
    <part name="parameters" element="tns:actualizarOrdenCompraResponse" />
  </message>
  <message name="JsonProcessingException">
    <part name="fault" element="tns:JsonProcessingException" />
  </message>
  <message name="eliminarOrdenCompra">
    <part name="parameters" element="tns:eliminarOrdenCompra" />
  </message>
  <message name="eliminarOrdenCompraResponse">
    <part name="parameters" element="tns:eliminarOrdenCompraResponse" />
  </message>
  <message name="insertarOrdenCompra">
    <part name="parameters" element="tns:insertarOrdenCompra" />
  </message>
  <message name="insertarOrdenCompraResponse">
    <part name="parameters" element="tns:insertarOrdenCompraResponse" />
  </message>
  <message name="listarLineasOrdenCompraPorIdOrdenCompra">
    <part name="parameters" element="tns:listarLineasOrdenCompraPorIdOrdenCompra" />
  </message>
  <message name="listarLineasOrdenCompraPorIdOrdenCompraResponse">
    <part name="parameters" element="tns:listarLineasOrdenCompraPorIdOrdenCompraResponse" />
  </message>
  <message name="consultarPedidoPorFechas">
    <part name="parameters" element="tns:consultarPedidoPorFechas" />
  </message>
  <message name="consultarPedidoPorFechasResponse">
    <part name="parameters" element="tns:consultarPedidoPorFechasResponse" />
  </message>
  <message name="desactivarOrdenCompra">
    <part name="parameters" element="tns:desactivarOrdenCompra" />
  </message>
  <message name="desactivarOrdenCompraResponse">
    <part name="parameters" element="tns:desactivarOrdenCompraResponse" />
  </message>
  <portType name="OrdenCompraWS">
    <operation name="listarOrdenCompra">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/listarOrdenCompraRequest" message="tns:listarOrdenCompra" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/listarOrdenCompraResponse" message="tns:listarOrdenCompraResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/listarOrdenCompra/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/listarOrdenCompra/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerOrdenCompra">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/obtenerOrdenCompraRequest" message="tns:obtenerOrdenCompra" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/obtenerOrdenCompraResponse" message="tns:obtenerOrdenCompraResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/obtenerOrdenCompra/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/obtenerOrdenCompra/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="consultarOrdenCompraPorIdCliente">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/consultarOrdenCompraPorIdClienteRequest" message="tns:consultarOrdenCompraPorIdCliente" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/consultarOrdenCompraPorIdClienteResponse" message="tns:consultarOrdenCompraPorIdClienteResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/consultarOrdenCompraPorIdCliente/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/consultarOrdenCompraPorIdCliente/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="desactivarOrdenCompraPorHorario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/desactivarOrdenCompraPorHorarioRequest" message="tns:desactivarOrdenCompraPorHorario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/desactivarOrdenCompraPorHorarioResponse" message="tns:desactivarOrdenCompraPorHorarioResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/desactivarOrdenCompraPorHorario/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/desactivarOrdenCompraPorHorario/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="actualizarOrdenCompra">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/actualizarOrdenCompraRequest" message="tns:actualizarOrdenCompra" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/actualizarOrdenCompraResponse" message="tns:actualizarOrdenCompraResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/actualizarOrdenCompra/Fault/JsonProcessingException" name="JsonProcessingException" message="tns:JsonProcessingException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/actualizarOrdenCompra/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/actualizarOrdenCompra/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="eliminarOrdenCompra">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/eliminarOrdenCompraRequest" message="tns:eliminarOrdenCompra" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/eliminarOrdenCompraResponse" message="tns:eliminarOrdenCompraResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/eliminarOrdenCompra/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/eliminarOrdenCompra/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="insertarOrdenCompra">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/insertarOrdenCompraRequest" message="tns:insertarOrdenCompra" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/insertarOrdenCompraResponse" message="tns:insertarOrdenCompraResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/insertarOrdenCompra/Fault/JsonProcessingException" name="JsonProcessingException" message="tns:JsonProcessingException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/insertarOrdenCompra/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/insertarOrdenCompra/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarLineasOrdenCompraPorIdOrdenCompra">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/listarLineasOrdenCompraPorIdOrdenCompraRequest" message="tns:listarLineasOrdenCompraPorIdOrdenCompra" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/listarLineasOrdenCompraPorIdOrdenCompraResponse" message="tns:listarLineasOrdenCompraPorIdOrdenCompraResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/listarLineasOrdenCompraPorIdOrdenCompra/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/listarLineasOrdenCompraPorIdOrdenCompra/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="consultarPedidoPorFechas">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/consultarPedidoPorFechasRequest" message="tns:consultarPedidoPorFechas" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/consultarPedidoPorFechasResponse" message="tns:consultarPedidoPorFechasResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/consultarPedidoPorFechas/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/consultarPedidoPorFechas/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="desactivarOrdenCompra">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/desactivarOrdenCompraRequest" message="tns:desactivarOrdenCompra" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/desactivarOrdenCompraResponse" message="tns:desactivarOrdenCompraResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/desactivarOrdenCompra/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/OrdenCompraWS/desactivarOrdenCompra/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
  </portType>
  <binding name="OrdenCompraWSPortBinding" type="tns:OrdenCompraWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="consultarOrdenCompraPorIdCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="desactivarOrdenCompraPorHorario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="actualizarOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JsonProcessingException">
        <soap:fault use="literal" name="JsonProcessingException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="insertarOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JsonProcessingException">
        <soap:fault use="literal" name="JsonProcessingException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarLineasOrdenCompraPorIdOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="consultarPedidoPorFechas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="desactivarOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="OrdenCompraWS">
    <port name="OrdenCompraWSPort" binding="tns:OrdenCompraWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/OrdenCompraWS" />
    </port>
  </service>
</definitions>