.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/ProductoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="InterruptedException" type="tns:InterruptedException" />
  <xs:element name="JsonProcessingException" type="tns:JsonProcessingException" />
  <xs:element name="actualizarProducto" type="tns:actualizarProducto" />
  <xs:element name="actualizarProductoResponse" type="tns:actualizarProductoResponse" />
  <xs:element name="eliminarProducto" type="tns:eliminarProducto" />
  <xs:element name="eliminarProductoResponse" type="tns:eliminarProductoResponse" />
  <xs:element name="insertarProducto" type="tns:insertarProducto" />
  <xs:element name="insertarProductoResponse" type="tns:insertarProductoResponse" />
  <xs:element name="listarProducto" type="tns:listarProducto" />
  <xs:element name="listarProductoResponse" type="tns:listarProductoResponse" />
  <xs:element name="listarfiltrarProductoPorDescuento" type="tns:listarfiltrarProductoPorDescuento" />
  <xs:element name="listarfiltrarProductoPorDescuentoResponse" type="tns:listarfiltrarProductoPorDescuentoResponse" />
  <xs:element name="listarfiltrarProductoPorMarca" type="tns:listarfiltrarProductoPorMarca" />
  <xs:element name="listarfiltrarProductoPorMarcaResponse" type="tns:listarfiltrarProductoPorMarcaResponse" />
  <xs:element name="listarfiltrarProductoPorPrecioAlMayor" type="tns:listarfiltrarProductoPorPrecioAlMayor" />
  <xs:element name="listarfiltrarProductoPorPrecioAlMayorResponse" type="tns:listarfiltrarProductoPorPrecioAlMayorResponse" />
  <xs:element name="listarfiltrarProductoPorPrecioRegular" type="tns:listarfiltrarProductoPorPrecioRegular" />
  <xs:element name="listarfiltrarProductoPorPrecioRegularResponse" type="tns:listarfiltrarProductoPorPrecioRegularResponse" />
  <xs:element name="obtenerPorSku" type="tns:obtenerPorSku" />
  <xs:element name="obtenerPorSkuResponse" type="tns:obtenerPorSkuResponse" />
  <xs:element name="obtenerProducto" type="tns:obtenerProducto" />
  <xs:element name="obtenerProductoResponse" type="tns:obtenerProductoResponse" />
  <xs:element name="obtenerProductosPorCategoria" type="tns:obtenerProductosPorCategoria" />
  <xs:element name="obtenerProductosPorCategoriaResponse" type="tns:obtenerProductosPorCategoriaResponse" />
  <xs:element name="verificarStockSuficientePorID" type="tns:verificarStockSuficientePorID" />
  <xs:element name="verificarStockSuficientePorIDResponse" type="tns:verificarStockSuficientePorIDResponse" />
  <xs:element name="verificarStockSuficientePorSKU" type="tns:verificarStockSuficientePorSKU" />
  <xs:element name="verificarStockSuficientePorSKUResponse" type="tns:verificarStockSuficientePorSKUResponse" />
  <xs:complexType name="verificarStockSuficientePorSKU">
    <xs:sequence>
      <xs:element minOccurs="0" name="sku" type="xs:string" />
      <xs:element minOccurs="0" name="cantidadSolicitada" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarStockSuficientePorSKUResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterruptedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarfiltrarProductoPorDescuento">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCategoria" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarfiltrarProductoPorDescuentoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoriaProducto" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="marca" type="xs:string" />
          <xs:element minOccurs="0" name="medidaAlMayor" type="tns:unidadMedida" />
          <xs:element minOccurs="0" name="medidaAlMayorString" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="precioAlMayor" type="xs:double" />
          <xs:element name="precioRegular" type="xs:double" />
          <xs:element minOccurs="0" name="SKU" type="xs:string" />
          <xs:element name="stockDisponible" type="xs:int" />
          <xs:element name="stockMaximo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registro">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriaProducto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoriaPadre" type="tns:categoriaProducto" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listarProducto">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarfiltrarProductoPorPrecioRegular">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element name="RangoPrecio1" type="xs:double" />
      <xs:element name="RangoPrecio2" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarfiltrarProductoPorPrecioRegularResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarStockSuficientePorID">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="cantidadSolicitada" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarStockSuficientePorIDResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarProducto">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarfiltrarProductoPorPrecioAlMayor">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element name="RangoPrecio1" type="xs:double" />
      <xs:element name="RangoPrecio2" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarfiltrarProductoPorPrecioAlMayorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerProducto">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarfiltrarProductoPorMarca">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarfiltrarProductoPorMarcaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorSku">
    <xs:sequence>
      <xs:element minOccurs="0" name="sku" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorSkuResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarProductoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="JsonProcessingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="location" type="tns:jsonLocation" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="originalMessage" type="xs:string" />
      <xs:element minOccurs="0" name="processor" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jsonLocation">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerProductosPorCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerProductosPorCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="unidadMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KILOGRAMO" />
      <xs:enumeration value="LITRO" />
      <xs:enumeration value="GALON" />
      <xs:enumeration value="BOTELLA" />
      <xs:enumeration value="CAJA" />
      <xs:enumeration value="PAQUETE" />
      <xs:enumeration value="SACO" />
      <xs:enumeration value="PACK" />
      <xs:enumeration value="UNIDAD" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>