.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/ProductoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductoWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/ProductoWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarfiltrarProductoPorDescuento">
    <part name="parameters" element="tns:listarfiltrarProductoPorDescuento" />
  </message>
  <message name="listarfiltrarProductoPorDescuentoResponse">
    <part name="parameters" element="tns:listarfiltrarProductoPorDescuentoResponse" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException" />
  </message>
  <message name="listarProducto">
    <part name="parameters" element="tns:listarProducto" />
  </message>
  <message name="listarProductoResponse">
    <part name="parameters" element="tns:listarProductoResponse" />
  </message>
  <message name="verificarStockSuficientePorID">
    <part name="parameters" element="tns:verificarStockSuficientePorID" />
  </message>
  <message name="verificarStockSuficientePorIDResponse">
    <part name="parameters" element="tns:verificarStockSuficientePorIDResponse" />
  </message>
  <message name="verificarStockSuficientePorSKU">
    <part name="parameters" element="tns:verificarStockSuficientePorSKU" />
  </message>
  <message name="verificarStockSuficientePorSKUResponse">
    <part name="parameters" element="tns:verificarStockSuficientePorSKUResponse" />
  </message>
  <message name="obtenerProductosPorCategoria">
    <part name="parameters" element="tns:obtenerProductosPorCategoria" />
  </message>
  <message name="obtenerProductosPorCategoriaResponse">
    <part name="parameters" element="tns:obtenerProductosPorCategoriaResponse" />
  </message>
  <message name="listaProductosPorCategoria">
    <part name="parameters" element="tns:listaProductosPorCategoria" />
  </message>
  <message name="listaProductosPorCategoriaResponse">
    <part name="parameters" element="tns:listaProductosPorCategoriaResponse" />
  </message>
  <message name="listarfiltrarProductoPorMarca">
    <part name="parameters" element="tns:listarfiltrarProductoPorMarca" />
  </message>
  <message name="listarfiltrarProductoPorMarcaResponse">
    <part name="parameters" element="tns:listarfiltrarProductoPorMarcaResponse" />
  </message>
  <message name="obtenerPorSku">
    <part name="parameters" element="tns:obtenerPorSku" />
  </message>
  <message name="obtenerPorSkuResponse">
    <part name="parameters" element="tns:obtenerPorSkuResponse" />
  </message>
  <message name="listarfiltrarProductoPorPrecioRegular">
    <part name="parameters" element="tns:listarfiltrarProductoPorPrecioRegular" />
  </message>
  <message name="listarfiltrarProductoPorPrecioRegularResponse">
    <part name="parameters" element="tns:listarfiltrarProductoPorPrecioRegularResponse" />
  </message>
  <message name="listarfiltrarProductoPorPrecioAlMayor">
    <part name="parameters" element="tns:listarfiltrarProductoPorPrecioAlMayor" />
  </message>
  <message name="listarfiltrarProductoPorPrecioAlMayorResponse">
    <part name="parameters" element="tns:listarfiltrarProductoPorPrecioAlMayorResponse" />
  </message>
  <message name="obtenerProducto">
    <part name="parameters" element="tns:obtenerProducto" />
  </message>
  <message name="obtenerProductoResponse">
    <part name="parameters" element="tns:obtenerProductoResponse" />
  </message>
  <message name="eliminarProducto">
    <part name="parameters" element="tns:eliminarProducto" />
  </message>
  <message name="eliminarProductoResponse">
    <part name="parameters" element="tns:eliminarProductoResponse" />
  </message>
  <message name="actualizarProducto">
    <part name="parameters" element="tns:actualizarProducto" />
  </message>
  <message name="actualizarProductoResponse">
    <part name="parameters" element="tns:actualizarProductoResponse" />
  </message>
  <message name="JsonProcessingException">
    <part name="fault" element="tns:JsonProcessingException" />
  </message>
  <message name="insertarProducto">
    <part name="parameters" element="tns:insertarProducto" />
  </message>
  <message name="insertarProductoResponse">
    <part name="parameters" element="tns:insertarProductoResponse" />
  </message>
  <portType name="ProductoWS">
    <operation name="listarfiltrarProductoPorDescuento">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorDescuentoRequest" message="tns:listarfiltrarProductoPorDescuento" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorDescuentoResponse" message="tns:listarfiltrarProductoPorDescuentoResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorDescuento/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorDescuento/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarProducto">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarProductoRequest" message="tns:listarProducto" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarProductoResponse" message="tns:listarProductoResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarProducto/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarProducto/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="verificarStockSuficientePorID">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/verificarStockSuficientePorIDRequest" message="tns:verificarStockSuficientePorID" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/verificarStockSuficientePorIDResponse" message="tns:verificarStockSuficientePorIDResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/verificarStockSuficientePorID/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/verificarStockSuficientePorID/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="verificarStockSuficientePorSKU">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/verificarStockSuficientePorSKURequest" message="tns:verificarStockSuficientePorSKU" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/verificarStockSuficientePorSKUResponse" message="tns:verificarStockSuficientePorSKUResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/verificarStockSuficientePorSKU/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/verificarStockSuficientePorSKU/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerProductosPorCategoria">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/obtenerProductosPorCategoriaRequest" message="tns:obtenerProductosPorCategoria" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/obtenerProductosPorCategoriaResponse" message="tns:obtenerProductosPorCategoriaResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/obtenerProductosPorCategoria/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/obtenerProductosPorCategoria/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listaProductosPorCategoria">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listaProductosPorCategoriaRequest" message="tns:listaProductosPorCategoria" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listaProductosPorCategoriaResponse" message="tns:listaProductosPorCategoriaResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listaProductosPorCategoria/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listaProductosPorCategoria/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarfiltrarProductoPorMarca">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorMarcaRequest" message="tns:listarfiltrarProductoPorMarca" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorMarcaResponse" message="tns:listarfiltrarProductoPorMarcaResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorMarca/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorMarca/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerPorSku">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/obtenerPorSkuRequest" message="tns:obtenerPorSku" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/obtenerPorSkuResponse" message="tns:obtenerPorSkuResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/obtenerPorSku/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/obtenerPorSku/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarfiltrarProductoPorPrecioRegular">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorPrecioRegularRequest" message="tns:listarfiltrarProductoPorPrecioRegular" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorPrecioRegularResponse" message="tns:listarfiltrarProductoPorPrecioRegularResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorPrecioRegular/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorPrecioRegular/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="listarfiltrarProductoPorPrecioAlMayor">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorPrecioAlMayorRequest" message="tns:listarfiltrarProductoPorPrecioAlMayor" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorPrecioAlMayorResponse" message="tns:listarfiltrarProductoPorPrecioAlMayorResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorPrecioAlMayor/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarfiltrarProductoPorPrecioAlMayor/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="obtenerProducto">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/obtenerProductoRequest" message="tns:obtenerProducto" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/obtenerProductoResponse" message="tns:obtenerProductoResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/obtenerProducto/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/obtenerProducto/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="eliminarProducto">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/eliminarProductoRequest" message="tns:eliminarProducto" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/eliminarProductoResponse" message="tns:eliminarProductoResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/eliminarProducto/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/eliminarProducto/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="actualizarProducto">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/actualizarProductoRequest" message="tns:actualizarProducto" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/actualizarProductoResponse" message="tns:actualizarProductoResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/actualizarProducto/Fault/JsonProcessingException" name="JsonProcessingException" message="tns:JsonProcessingException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/actualizarProducto/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/actualizarProducto/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
    <operation name="insertarProducto">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/insertarProductoRequest" message="tns:insertarProducto" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/insertarProductoResponse" message="tns:insertarProductoResponse" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/insertarProducto/Fault/IOException" name="IOException" message="tns:IOException" />
      <fault wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/insertarProducto/Fault/InterruptedException" name="InterruptedException" message="tns:InterruptedException" />
    </operation>
  </portType>
  <binding name="ProductoWSPortBinding" type="tns:ProductoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarfiltrarProductoPorDescuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="verificarStockSuficientePorID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="verificarStockSuficientePorSKU">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerProductosPorCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listaProductosPorCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarfiltrarProductoPorMarca">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerPorSku">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarfiltrarProductoPorPrecioRegular">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="listarfiltrarProductoPorPrecioAlMayor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="obtenerProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="actualizarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JsonProcessingException">
        <soap:fault use="literal" name="JsonProcessingException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
    <operation name="insertarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
      <fault name="InterruptedException">
        <soap:fault use="literal" name="InterruptedException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ProductoWS">
    <port name="ProductoWSPort" binding="tns:ProductoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/ProductoWS" />
    </port>
  </service>
</definitions>