TA/.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/ComprobantePagoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ComprobantePagoWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/ComprobantePagoWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarComprobantePago">
    <part name="parameters" element="tns:listarComprobantePago" />
  </message>
  <message name="listarComprobantePagoResponse">
    <part name="parameters" element="tns:listarComprobantePagoResponse" />
  </message>
  <message name="obtenerComprobantePago">
    <part name="parameters" element="tns:obtenerComprobantePago" />
  </message>
  <message name="obtenerComprobantePagoResponse">
    <part name="parameters" element="tns:obtenerComprobantePagoResponse" />
  </message>
  <message name="eliminarComprobantePago">
    <part name="parameters" element="tns:eliminarComprobantePago" />
  </message>
  <message name="eliminarComprobantePagoResponse">
    <part name="parameters" element="tns:eliminarComprobantePagoResponse" />
  </message>
  <message name="insertarComprobantePago">
    <part name="parameters" element="tns:insertarComprobantePago" />
  </message>
  <message name="insertarComprobantePagoResponse">
    <part name="parameters" element="tns:insertarComprobantePagoResponse" />
  </message>
  <message name="actualizarComprobantePago">
    <part name="parameters" element="tns:actualizarComprobantePago" />
  </message>
  <message name="actualizarComprobantePagoResponse">
    <part name="parameters" element="tns:actualizarComprobantePagoResponse" />
  </message>
  <portType name="ComprobantePagoWS">
    <operation name="listarComprobantePago">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ComprobantePagoWS/listarComprobantePagoRequest" message="tns:listarComprobantePago" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ComprobantePagoWS/listarComprobantePagoResponse" message="tns:listarComprobantePagoResponse" />
    </operation>
    <operation name="obtenerComprobantePago">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ComprobantePagoWS/obtenerComprobantePagoRequest" message="tns:obtenerComprobantePago" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ComprobantePagoWS/obtenerComprobantePagoResponse" message="tns:obtenerComprobantePagoResponse" />
    </operation>
    <operation name="eliminarComprobantePago">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ComprobantePagoWS/eliminarComprobantePagoRequest" message="tns:eliminarComprobantePago" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ComprobantePagoWS/eliminarComprobantePagoResponse" message="tns:eliminarComprobantePagoResponse" />
    </operation>
    <operation name="insertarComprobantePago">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ComprobantePagoWS/insertarComprobantePagoRequest" message="tns:insertarComprobantePago" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ComprobantePagoWS/insertarComprobantePagoResponse" message="tns:insertarComprobantePagoResponse" />
    </operation>
    <operation name="actualizarComprobantePago">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ComprobantePagoWS/actualizarComprobantePagoRequest" message="tns:actualizarComprobantePago" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ComprobantePagoWS/actualizarComprobantePagoResponse" message="tns:actualizarComprobantePagoResponse" />
    </operation>
  </portType>
  <binding name="ComprobantePagoWSPortBinding" type="tns:ComprobantePagoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarComprobantePago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerComprobantePago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarComprobantePago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarComprobantePago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarComprobantePago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ComprobantePagoWS">
    <port name="ComprobantePagoWSPort" binding="tns:ComprobantePagoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/ComprobantePagoWS" />
    </port>
  </service>
</definitions>