TA/.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/CuentaUsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CuentaUsuarioWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/CuentaUsuarioWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="login">
    <part name="parameters" element="tns:login" />
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse" />
  </message>
  <message name="insertarCuentaUsuario">
    <part name="parameters" element="tns:insertarCuentaUsuario" />
  </message>
  <message name="insertarCuentaUsuarioResponse">
    <part name="parameters" element="tns:insertarCuentaUsuarioResponse" />
  </message>
  <message name="eliminarCuentaUsuario">
    <part name="parameters" element="tns:eliminarCuentaUsuario" />
  </message>
  <message name="eliminarCuentaUsuarioResponse">
    <part name="parameters" element="tns:eliminarCuentaUsuarioResponse" />
  </message>
  <message name="actualizarCuentaUsuario">
    <part name="parameters" element="tns:actualizarCuentaUsuario" />
  </message>
  <message name="actualizarCuentaUsuarioResponse">
    <part name="parameters" element="tns:actualizarCuentaUsuarioResponse" />
  </message>
  <message name="obtenerCuentaUsuario">
    <part name="parameters" element="tns:obtenerCuentaUsuario" />
  </message>
  <message name="obtenerCuentaUsuarioResponse">
    <part name="parameters" element="tns:obtenerCuentaUsuarioResponse" />
  </message>
  <message name="listarCuentaUsuario">
    <part name="parameters" element="tns:listarCuentaUsuario" />
  </message>
  <message name="listarCuentaUsuarioResponse">
    <part name="parameters" element="tns:listarCuentaUsuarioResponse" />
  </message>
  <portType name="CuentaUsuarioWS">
    <operation name="login">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/loginRequest" message="tns:login" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/loginResponse" message="tns:loginResponse" />
    </operation>
    <operation name="insertarCuentaUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/insertarCuentaUsuarioRequest" message="tns:insertarCuentaUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/insertarCuentaUsuarioResponse" message="tns:insertarCuentaUsuarioResponse" />
    </operation>
    <operation name="eliminarCuentaUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/eliminarCuentaUsuarioRequest" message="tns:eliminarCuentaUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/eliminarCuentaUsuarioResponse" message="tns:eliminarCuentaUsuarioResponse" />
    </operation>
    <operation name="actualizarCuentaUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/actualizarCuentaUsuarioRequest" message="tns:actualizarCuentaUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/actualizarCuentaUsuarioResponse" message="tns:actualizarCuentaUsuarioResponse" />
    </operation>
    <operation name="obtenerCuentaUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/obtenerCuentaUsuarioRequest" message="tns:obtenerCuentaUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/obtenerCuentaUsuarioResponse" message="tns:obtenerCuentaUsuarioResponse" />
    </operation>
    <operation name="listarCuentaUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/listarCuentaUsuarioRequest" message="tns:listarCuentaUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/listarCuentaUsuarioResponse" message="tns:listarCuentaUsuarioResponse" />
    </operation>
  </portType>
  <binding name="CuentaUsuarioWSPortBinding" type="tns:CuentaUsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CuentaUsuarioWS">
    <port name="CuentaUsuarioWSPort" binding="tns:CuentaUsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/CuentaUsuarioWS" />
    </port>
  </service>
</definitions>