TA/.NET/SoftProgWeb/SoftProgWeb/Connected Services/SoftProgWS/LineaOrdenCompraWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LineaOrdenCompraWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/LineaOrdenCompraWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarLineaOrdenCompra">
    <part name="parameters" element="tns:listarLineaOrdenCompra" />
  </message>
  <message name="listarLineaOrdenCompraResponse">
    <part name="parameters" element="tns:listarLineaOrdenCompraResponse" />
  </message>
  <message name="insertarLineaOrdenCompra">
    <part name="parameters" element="tns:insertarLineaOrdenCompra" />
  </message>
  <message name="insertarLineaOrdenCompraResponse">
    <part name="parameters" element="tns:insertarLineaOrdenCompraResponse" />
  </message>
  <message name="actualizarLineaOrdenCompra">
    <part name="parameters" element="tns:actualizarLineaOrdenCompra" />
  </message>
  <message name="actualizarLineaOrdenCompraResponse">
    <part name="parameters" element="tns:actualizarLineaOrdenCompraResponse" />
  </message>
  <message name="eliminarLineaOrdenCompra">
    <part name="parameters" element="tns:eliminarLineaOrdenCompra" />
  </message>
  <message name="eliminarLineaOrdenCompraResponse">
    <part name="parameters" element="tns:eliminarLineaOrdenCompraResponse" />
  </message>
  <message name="obtenerLineaOrdenCompra">
    <part name="parameters" element="tns:obtenerLineaOrdenCompra" />
  </message>
  <message name="obtenerLineaOrdenCompraResponse">
    <part name="parameters" element="tns:obtenerLineaOrdenCompraResponse" />
  </message>
  <portType name="LineaOrdenCompraWS">
    <operation name="listarLineaOrdenCompra">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaOrdenCompraWS/listarLineaOrdenCompraRequest" message="tns:listarLineaOrdenCompra" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaOrdenCompraWS/listarLineaOrdenCompraResponse" message="tns:listarLineaOrdenCompraResponse" />
    </operation>
    <operation name="insertarLineaOrdenCompra">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaOrdenCompraWS/insertarLineaOrdenCompraRequest" message="tns:insertarLineaOrdenCompra" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaOrdenCompraWS/insertarLineaOrdenCompraResponse" message="tns:insertarLineaOrdenCompraResponse" />
    </operation>
    <operation name="actualizarLineaOrdenCompra">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaOrdenCompraWS/actualizarLineaOrdenCompraRequest" message="tns:actualizarLineaOrdenCompra" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaOrdenCompraWS/actualizarLineaOrdenCompraResponse" message="tns:actualizarLineaOrdenCompraResponse" />
    </operation>
    <operation name="eliminarLineaOrdenCompra">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaOrdenCompraWS/eliminarLineaOrdenCompraRequest" message="tns:eliminarLineaOrdenCompra" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaOrdenCompraWS/eliminarLineaOrdenCompraResponse" message="tns:eliminarLineaOrdenCompraResponse" />
    </operation>
    <operation name="obtenerLineaOrdenCompra">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LineaOrdenCompraWS/obtenerLineaOrdenCompraRequest" message="tns:obtenerLineaOrdenCompra" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LineaOrdenCompraWS/obtenerLineaOrdenCompraResponse" message="tns:obtenerLineaOrdenCompraResponse" />
    </operation>
  </portType>
  <binding name="LineaOrdenCompraWSPortBinding" type="tns:LineaOrdenCompraWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarLineaOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarLineaOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarLineaOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLineaOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerLineaOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LineaOrdenCompraWS">
    <port name="LineaOrdenCompraWSPort" binding="tns:LineaOrdenCompraWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/LineaOrdenCompraWS" />
    </port>
  </service>
</definitions>