.NET/SoftProgWeb/SoftProgWeb/Connected Services/ServiceioEmpresaWS/EmpresaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarEmpresa" type="tns:actualizarEmpresa" />
  <xs:element name="actualizarEmpresaResponse" type="tns:actualizarEmpresaResponse" />
  <xs:element name="eliminarEmpresa" type="tns:eliminarEmpresa" />
  <xs:element name="eliminarEmpresaResponse" type="tns:eliminarEmpresaResponse" />
  <xs:element name="insertarEmpresa" type="tns:insertarEmpresa" />
  <xs:element name="insertarEmpresaResponse" type="tns:insertarEmpresaResponse" />
  <xs:element name="listarEmpresa" type="tns:listarEmpresa" />
  <xs:element name="listarEmpresaResponse" type="tns:listarEmpresaResponse" />
  <xs:element name="listarEmpresasActivos" type="tns:listarEmpresasActivos" />
  <xs:element name="listarEmpresasActivosResponse" type="tns:listarEmpresasActivosResponse" />
  <xs:element name="listarEmpresasNoActivos" type="tns:listarEmpresasNoActivos" />
  <xs:element name="listarEmpresasNoActivosResponse" type="tns:listarEmpresasNoActivosResponse" />
  <xs:element name="listarEmpresasPorCliente" type="tns:listarEmpresasPorCliente" />
  <xs:element name="listarEmpresasPorClienteActivas" type="tns:listarEmpresasPorClienteActivas" />
  <xs:element name="listarEmpresasPorClienteActivasResponse" type="tns:listarEmpresasPorClienteActivasResponse" />
  <xs:element name="listarEmpresasPorClienteResponse" type="tns:listarEmpresasPorClienteResponse" />
  <xs:element name="listarEmpresasPorClientesNoActivas" type="tns:listarEmpresasPorClientesNoActivas" />
  <xs:element name="listarEmpresasPorClientesNoActivasResponse" type="tns:listarEmpresasPorClientesNoActivasResponse" />
  <xs:element name="obtenerEmpresa" type="tns:obtenerEmpresa" />
  <xs:element name="obtenerEmpresaResponse" type="tns:obtenerEmpresaResponse" />
  <xs:element name="validarEmpresa" type="tns:validarEmpresa" />
  <xs:element name="validarEmpresaResponse" type="tns:validarEmpresaResponse" />
  <xs:complexType name="listarEmpresasPorClientesNoActivas">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpresasPorClientesNoActivasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empresa">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
          <xs:element minOccurs="0" name="codigoPostal" type="xs:string" />
          <xs:element minOccurs="0" name="departamento" type="xs:string" />
          <xs:element minOccurs="0" name="direccionFiscal" type="xs:string" />
          <xs:element minOccurs="0" name="distrito" type="tns:distrito" />
          <xs:element minOccurs="0" name="distritoString" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="provincia" type="xs:string" />
          <xs:element minOccurs="0" name="RUC" type="xs:string" />
          <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
          <xs:element minOccurs="0" name="telefono" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="registro">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoriaCliente" />
          <xs:element minOccurs="0" name="categoriaCliente" type="xs:string" />
          <xs:element name="lineaCredito" type="xs:double" />
          <xs:element name="numeroPedidosHistorico" type="xs:int" />
          <xs:element name="numeroPedidosMensualPro" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:registro">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
          <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
          <xs:element minOccurs="0" name="dni" type="xs:string" />
          <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="genero" type="tns:genero" />
          <xs:element minOccurs="0" name="generoString" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="telefono" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="eliminarEmpresa">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEmpresaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpresasNoActivos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpresasNoActivosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarEmpresa">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarEmpresaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerEmpresa">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEmpresaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="empresa" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEmpresaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpresasActivos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpresasActivosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpresa">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpresaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpresasPorCliente">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpresasPorClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="empresa" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpresaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpresasPorClienteActivas">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpresasPorClienteActivasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="categoriaCliente">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISTRIBUIDOR" />
      <xs:enumeration value="REVENDEDOR" />
      <xs:enumeration value="RESTAURANTE" />
      <xs:enumeration value="HOTEL" />
      <xs:enumeration value="CATERING" />
      <xs:enumeration value="GOBIERNO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HOMBRE" />
      <xs:enumeration value="MUJER" />
      <xs:enumeration value="NO_ESPECIFICADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="distrito">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PUEBLO_LIBRE" />
      <xs:enumeration value="SAN_MIGUEL" />
      <xs:enumeration value="SAN_BORJA" />
      <xs:enumeration value="SAN_LUIS" />
      <xs:enumeration value="LINCE" />
      <xs:enumeration value="CALLAO" />
      <xs:enumeration value="LA_VICTORIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>